@import "../help.css.scss";
@import "./template1.css.scss";
@import "../libs/dhtmlxgrid.css";
.condition{
  &>p{
    &:first-of-type{
      display: none ;
    }
    padding-top:11px !important;
  }
  .btn{
    width:160px;
    padding:8px 10px;
    font-size:13px;
    margin:7px 10px;
  }
}
.content{
  .chart{
    height:60%;
  }
  .grid{
    height:40%;
    margin:0px !important;
    padding:0px !important;
  }
}