// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../help.css.scss";
@import "../libs/jquery.mCustomScrollbar.min.css";
// #left part
$main-height:600px - 70px;
$list-width:220px;
.report-menu{
  @include box-sizing-border;
  float:left;
  width:$list-width;
  height:calc( 100% - 70px );
  position:relative;
  section{
    background:lighten($nav-dark,4%);
    @include box-shadow-inset(-3px,0px,8px,rgba(0,0,0,0.1));
    height:100%;
    position:relative;
    &>.header{
      width:100%;
      height:50px;
      p{
        text-align:center;
        color:#fff;
        font-family:'avenir';
        padding:14px 0px;
        font-size:18px;
      }
    }
    &>ul{
      $li-padding:10px;
      height:calc(100% - 109px);
      //scroll
      overflow-y:auto;
      p{
        color:lighten($nav-dark,25%);
        font-size:13px;
        padding-left:$li-padding;
        margin:5px 0 0px;
      }
      li{
        a{
          $vertical-padding:6px;
          i{
            font-size:10px;
            display:inline-block;
            &.mark{
              margin-right:10px;
              position:relative;
              top:-1px;
            }
            &.indicate{
              float:right;
              margin-top:2px;
              display: none;
            }
          }
          cursor:pointer;
          color:rgba(255,255,255,0.8);
          font-size:12px;
          display:block;
          padding:$vertical-padding $li-padding;
          width:100%;
          @include box-sizing-border;
          &:hover{
            color:#fff;
            background:lighten($nav-dark,25%);
          }
          &.active{
            color:#fff;
            background:lighten($nav-dark,25%);
            i{
              &.indicate{
                display:inline-block;
              }
            }
          }
        }
      }
    }
    &>.footer{
      position:absolute;
      bottom:0;
      left:0px;
      right:0px;
      height:40px;
      padding:6px 0;
      border-top:1px solid lighten($nav-dark,10%);
      a{
        position:relative;
        font-size:21px;
        bottom:0px;
        @include transition(bottom);
        cursor:pointer;
        color:rgba(255,255,255,0.5);
        display: inline-block;
        text-align:center;
        &:hover{
          bottom:8px;
          color:#fff;
        }
        @mixin after_content($content){
          content:$content;
          position:absolute;
          top:24px;
          left:0px;
          right:0px;
          text-align:center;
          font-size:9px;
        };
        &.share{
           float:right;
          right:25px;
          width:36px;
          &:after{
            @include after_content("DISCUSS");
          }
        }
        &.snap{
           float:right;
          right:15px;
          width:36px;
          &:after{
            @include after_content("SNAP");
          }
        }
        &.subscribe{
           float:left;
           left:10px;
          width:50px;
          &:after{
            @include after_content("SUBSCRIBE");
          }
        }
      }
    }
  }
}
.snap_block{
  position:fixed;
  z-index:9999;
  height:120px;
  width:240px;
  background:#fff;
  padding:8px;
  left:-999em;
  @include box-shadow(3px,3px,4px,rgba(0,0,0,0.9));
  @include border-radius-same(4px);
  border:1px solid rgba(0,0,0,0.4);
  .icon-remove{
    color:$red;
    pointer-events:auto;
    cursor:pointer;
    font-size:16px;
    float:right;
    &:hover{
      color:$red-hover;
    }
  }
  p{
    clear:both;
    text-align: left;
    padding-left:3px;
    font-size:13px;
    color:#666;
    margin-bottom:1px;
  }
  .btn{
    font-size:13px;
    padding:7px 14px;
    margin-top:9px;
  }
}
.mCSB_3_scrollTools{
  background:yellow;
}




// #right part
.report-content{
  @include box-sizing-border;
  float:left;
  height:calc( 100% - 70px );
  width:calc( 100% - 220px );
  // >>>>>>>>>>>>>>>>>>>current status
  .current-status{
    .header{
      width:100%;
      height:100px;
      border-bottom:1px solid rgba(0,0,0,0.2);
      $margin-top:8px;
      &:after{
        @include after-clear;
      }
      .header-block{
        float:left;
        @include box-sizing-border;
        padding:3px 0 0 8px;
        border-left:1px solid rgba(0,0,0,0.1);
        width:15%;
        margin:5px 0;
        &>label{
          display:block;
          font-size:14px;
          color:rgba(0,0,0,0.4);
        }
        &>.btn{
          padding:5px 8px;
          font-size:13px;
          width:115px;
          margin:5px auto;
        }
        &:first-of-type{
          width:400px;
          border-left-width:0px;
          p{
            margin:0px;
            font-size:14px;
            display: inline-block;
            &:first-of-type{
              font-size:18px;
              display:block;
            }
            &:nth-of-type(3){
              color:$golden-text;
            }
          }
          select{
            width:280px;
            paddding:5px 6px;
            margin-top:4px;
          }
        }
        &:nth-of-type(4){
          width:200px;
        }
        &:last-of-type{
          width:calc(70% - 600px);
          height:85px;
          p{
            padding:10px 0 0 17px;
            font-size:29px;
            color:#333
          }
        }
      }

    }
    .data-container{
      background-color:#fff;
      width:100%;
      overflow-y:auto;
    }
  }
}

//set the table background
div.gridbox.gridbox_dhx_skyblue{
  .objbox{
    table{
      background:#fff;
    }
    background:rgba(0,0,0,0);
    //background:-moz-linear-gradient(#e2efff, #d3e7ff);
    //background:-webkit-linear-gradient(#e2efff, #d3e7ff);
  }
}
//add to discussion
.report_center_back_pop{
  .choose-project-team{
    $width:540px;
    $height:410px;
    margin-top:- $height / 2;
    margin-left:- $width / 2;
    width:$width;
    height:$height;
    @include border-radius-same(3px);
    &>div{
      padding:8px 6px;
    }
    .basic_info{
      &:after{
        @include after-clear;
      }
      .basic_left{
        @include box-sizing-border;
        width:50%;
        float:left;
        overflow-y:auto;
      }
      .basic_right{
        @include box-sizing-border;
        width:50%;
        float:left;
        overflow-y:auto;
        p{
          padding-left:0px;
        }
        textarea{
          $width:225px;
          width:$width;
          max-width:$width;
          min-width:$width;
        }
      }
    }
    .choose-by-select{
      &>p{
        color:$blue;
      }
    }
    .choose-by-create{
      border-top-width:0px;
      position:relative;
      &:before{
        content:"-------------------------------------------------------------------- OR --------------------------------------------------------------------";
        position:absolute;
        top:0px;
        left:0px;
        right:8px;
        text-align:center;
        color:#9d9d9d;
        font-size:11px;
      }
      &>p{
        color:$blue;
      }
    }
  }
}