@import "../help.css.scss";
@import "./template1.css.scss";
@import "../libs/datepicker.css";
@import "../libs/colorPicker.css.scss";
@import "../libs/dhtmlxgrid.css";
.condition{
  .left{
    p{
      margin-bottom:0px;
      padding-top: 13px;
      padding-left: 13px;
      color:#9d9d9d;
    }
    float:left;
    input[type="text"]{
      float:left;
      margin-top:7px;
      display: inline-block;
      &:first-of-type{
        margin-left:13px;
      }
    }
    label{
      float:left;
      margin-top:5px;
      font-size:30px;
      margin-left:10px;
      margin-right:10px;
    }
    .btn{
      display: inline-block;
      margin-top:9px;
      margin-left:32px;
      font-size: 13px;
      padding: 8px 34px;
      font-weight:lighter;
    }
  }
  .right{
    float:right;
  }
}
.content{
  position:relative;
  $bottom:10px;
  .setting-btn{
    position:absolute;
    $width:46px;
    right:0px;
    bottom:$bottom;
    display:block;
    width:$width;
    height:$width + 10;
    background:rgba(0,0,0,0.1);
    @include transition(background);
    cursor:pointer;
    &:hover{
      background:rgba(0,0,0,0.2);
    }
    i{
      color:rgba(0,0,0,0.7);
      margin-left:$width/2 - 5px;
      position:absolute;
      top:19px;
      font-size:20px;
    }
  }
  .setting-block{
    position:absolute;
    height:400px;
    bottom:$bottom;
    width:300px;
    background:#fff;
    right:0px;
    border:1px solid rgba(0,0,0,0.1);
    @include box-shadow(-2px,2px,2px,rgba(0,0,0,0.2));
  }
}