@import "../help.css.scss";
.manage_three_column{
  &:after{
    @include after-clear;
  }
  &>.left{
    @include box-sizing-border;
    width:calc(100% - 260px);
    float:left;
    height:100%;
    &>.header{
      height:49px;
      background-color:#5688A9;
      position:relative;
      z-index:20;
      @include box-shadow-inset(0,-1px,1px,rgba(0,0,0,0.35));
      .current-group-item{
        display:inline-block;
        max-width:700px;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        margin:11px 0 0 18px;
        font-family:"maven";
        font-size:25px;
        color:white;
      }
    }
    .manage-left-content{
      background-color:#fff;
      &>.left{
        height:100%;
        @include box-border(180px);
        border-right:1px solid #DCDCDC;
        .manage-left-menu{
          overflow-y:auto;
          height:100%;
          background-color:#fafafa;
          margin:0;
          padding:0 ;
          list-style-type: none;
          z-index:20;
          width:100%;
          li{
            text-align:center;
            color:rgba(0,0,0,0.2);
            padding:7px 24px;
            cursor:pointer;
            transition:padding 0.3s ease-out;
            position:relative;
            a{
              width:104px;
              display:block;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              font-size:13px;
              color:rgba(0,0,0,0.3);
            }
            i.icon-columns{
              position:absolute;
              top:10px;
              left:6px;
              color:rgba(0,0,0,0.4);
              font-size:13px;
              pointer-events:auto;
            }
            i.icon-item{
              position:absolute;
              top:9px;
              color:rgba(0,0,0,0.4);
              display:none;
              pointer-events:auto;
              transition:color 0.2s ease;
            }
            .icon-trash{
              right:6px;
            }
            &:nth-of-type(1){
              cursor:default !important;
              &:hover{
                background-color:rgba(0,0,0,0);
              }
            }
            &:nth-of-type(2){
              $width:123px;
              position:relative;
              text-align:center;
              font-size:11px;
              color:rgba(103,103,103,0.9);
              background-color:rgba(209,209,209,0.45);
              padding:0px;
              width:$width;
              height:30px;
              left:50%;
              margin-top:0px;
              margin-bottom:34px;
              margin-left:- $width / 2;
              border-radius:3px;
              -webkit-border-radius:3px;
              -moz-border-radius:3px;
              cursor:pointer;
              transition:all 0.35s ease-out;
              span{
                position:absolute;
                top:0px;
                bottom:0px;
                left:0px;
                right:0px;
                line-height:30px;
              }
              input{
                position:absolute;
                width:100px;
                height:20px;
                font-size:13px;
                padding:0px 2px;
                top:4px;
                left:-999em;
              }
              .manage-add-tooltip{
                position:absolute;
                text-align:left;
                left:1px;
                top:32px;
                font-size:13px;
                line-height:17px;
                display:none;
              }
              &:hover{
                padding:0px;
                color:rgba(0,0,0,0.6);
                background-color:rgba(209,209,209,0.35);
              }
            }
            &:hover{
              background-color:#e2e7ef;
            }
            &:hover a{
              color:rgba(0,0,0,0.5);
            }
            &:hover i.icon-item{
              display:block;
            }
            :hover i.icon-item:hover{
              color:#f05c5c;
            }
            &.active{
              background-color:#e2e7ef;
              a{
                color:rgba(0,0,0,0.65);
              }
            }
          }
        }
      }
      &>.right{
        height:100%;
        @include box-sizing-border;
        width:calc(100% - 180px);
        float:left;
        overflow-y:auto;
        overflow-x:hidden;
        .manage-btn-group{
          left: 33px;
          position: relative;
          top: 23px;
          &>a{
            width:100px;
            margin-right:20px;
            margin-left:0;
            position:absolute;
            bottom:2px;
            padding:7px 6px;
            font-size:13px;
          }
          &>p{
            margin-top:6px;
            color:rgba(0, 0, 0, 0.5);
            cursor:pointer;
            display:inline-block;
            transition:color 0.35s ease-out;
            font-size:21px;
            /*display:none;*/
          }
          &>i{
            color:rgba(0, 0, 0, 0.65);
            position:relative;
            left:6px;
            display:none;
          }
          &>p:hover ~ i{
            display:inline-block;
          }
          &>input{
            padding:3px 5px;
            height:22px;
            width:150px;
            font-size:13px;
            position:relative;
            top:0px;
            margin-top:2px;
            display:none;
          }
          &>span{
            font-size:13px;
            position:absolute;
            left:0px;
            top:68px;
            color:rgba(0,0,0,0.4);
            display:none;
          }
        }
        .manage-right-list{
          margin-top:20px;
          padding-bottom:40px;
          .right-list-top-control{
            height:39px;
            &>.icheckbox_minimal-aero{
              left:33px;
              top:12px;
            }
            &>a {
              display:inline-block;
              width:80px;
              font-size:13px;
              display:none;
              &:first-of-type{
                margin-left:55px;
                margin-right:-10px;
              }
            }
          }
        }
      }
    }
  }
  &>.right{
    @include box-border(260px);
    background-color:#eff2f6;
    height:100%;
    border-left:1px solid #dcdcdc;
    &>section{
      padding-bottom:12px;
      &:not(:first-of-type){
        border-top:1px solid #dcdcdc;
      };
      &>h3{
        font-family:'avenir';
        color:#45acfb;
        font-size:18px;
        font-weight:lighter;
        display:inline-block;
      }
      &.adaptable{
        &>h3{
          margin:20px 0 10px 7px;
        }
        &>i.icon-plus{
          display:inline-block;
          color:rgba(0,0,0,0.4);
          font-size:10px;
          pointer-events:auto;
          cursor:pointer;
          float:right;
          margin-right:14px;
          margin-top:24px;
          transition:color 0.25s ease-out;
        }
        &>i.icon-plus{
          &:hover{
            color:black;
          }
          &:after{
            content:'add';
            font-size:12px;
            padding-left:4px;
          }
        }
        &>ul{
          list-style-type:none;
          margin:0px;
          padding-left:0px;
          li{
            color:rgba(0,0,0,0.5);
            cursor:pointer;
            transition:background-color 0.25s ease-out;
            position:relative;
            &.active{
              background-color:#e2e7ef;
            }
            &:hover{
              background-color:#e2e7ef;
            }
            &:hover i.icon-remove{
              display:inline-block;
            }
            &>a{
              display:block;
              height:100%;
              width:219px;
              padding:5px 8px;
              text-overflow:ellipsis;
              overflow:hidden;
              white-space: nowrap;
              font-size:13px;
            }
            &>i.icon-remove{
              pointer-events:auto;
              position:absolute;
              right:9px;
              top:7px;
              font-size:13px;
              color:rgba(0,0,0,0.5);
              font-weight:lighter;
              display:none;
              &:hover{
                color:black;
                display:inline-block;
              }
            }
          }
        }
      }
      &.solid{
         &>h3{
           margin:15px 0 5px 7px;
         }
        &>p{
          padding:0 7px 0 10px;
          word-break:normal;
          word-wrap: break-word;
          color:rgba(0,0,0,0.5);
          font-size:13px;
          display:blcok;
        }
        &>a{
          width:110px;
          font-size:13px;
          position:relative;
          left:50%;
          margin-left:-55px;
          margin-top:10px;
          margin-bottom:8px;
        }
      }
    }
  }
}
.sortable-dragging{
  opacity:0.9
}
.sortable-placeholder{
  border:1px dashed #ddd !important;
  background-color:rgba(242,196,84,0.7);
}
.sortable-placeholder:after{
  content:"Drop Here";
  font-size:20px;
  color:rgba(0,0,0,0.4);
  position:relative;
  width:100px;
  height:80px;
  line-height:80px;
  left:50%;
  margin-left:-50px;
}
.manage-sort-list{
  list-style:none;
  padding-left:33px;
  margin-top:15px;
}
.manage-sort-list li{
  width:97%;
  height:80px;
  border:1px solid #ddd;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  margin-bottom:15px;
  position:relative;

}
.manage-sort-list[type="kpi"] li{
  height:90px;
}
.manage-sort-list li>p{
  font-family:"Arial";
  font-weight:bold;
  font-size:40px;
  color:rgba(0,0,0,0.25);
  margin:0;
  padding-left:5px;
  width:15px;
  float:left;
  height:80px;
  line-height:80px;
  cursor:move
}
.manage-sort-list li>.icheckbox_minimal-aero{
  top:31px;
  float:left;
}
.manage-sort-list li>table{
  position:absolute;
  left:68px;
  top:5px;
  bottom:5px;
  width:inherit;
  transition:width 0.45s ease-out 0.1s;
}
.manage-sort-list li>table[special='my-kpi']{
  left:21px;
}
/********************************************************************************************************* 针对右边有导航的
*******************************************************************************************************************/
.manage-left-content{
  background-color:white;
  position:relative;
}
.manage-left-content[name='department']{
  padding-top:0px;
}
