@import "STYLE";
.report-content{
  overflow-y:auto;
}
.daily_dpv{
  height:100%;
  &:after{
    @include after-clear;
  }
  .left{
    float:left;
    @include box-sizing-border;
    width:75%;
    padding:0px 10px;
    $border:1px solid rgba(0,0,0,0.2);
    .chart_dpv_one{
      margin-top:5px;
      height:190px;
      border:$border;
      margin-bottom:10px;
    }
    .chart_dpv_two{
      height:190px;
      border:$border;
      margin-bottom:10px;
    }
    .data_container{
      background:#fff;
      overflow-y:auto;
      margin-bottom:10px;
    }
  }
  .right{
    float:left;
    @include box-sizing-border;
    width:25%;
    background:#fff;
    padding:5px;
    height:100%;
    border-left:1px solid rgba(0,0,0,0.2);
    .condition{
      .condition_block{
        border-top:1px solid rgba(0,0,0,0.2);
        padding:5px 0px 0px 6px;
        &>label{
          display:block;
          font-size:14px;
          color:#777;
        };
        &:first-of-type{
          border-top:1px solid rgba(0,0,0,0);
          p{
            margin:5px 0px 2px 0px;
            font-size:13px;
          }
          .retrieve_data{
            font-size:13px;
            padding:4px 8px;
            width:140px;
            margin:8px 0 12px;
          }
        }
        &:nth-of-type(2){
          .btn_excel{
            font-size:13px;
            padding:4px 8px;
            width:140px;
            margin:8px 0 12px;
          }
        }
        &:nth-of-type(3){
          .snap-groups{
            border-top-width:0;
            .snap-li:first-of-type{
              margin-left:0px;
            }
          }
        }
      }
    }
  }
}