@import "STYLE";
.snap-groups{
  height:110px;
  border-top:1px solid rgba(0,0,0,0.2);
  overflow-y:hidden;
  overflow-x:auto;
  white-space: nowrap;
  display:block;
  width:100%;
  position:relative;
  &.snap-content:before{
    content:"Snapshot";
    position:absolute;
    font-size:17px;
    color:#666;
    left:10px;
    top:5px;
  }
  &.snap-content:after{
    content:"Click <Snapshot> button to save snapshot";
    font-size:32px;
    display: block;
    padding-left:10px;
    padding-top:15px;
    color:rgba(0,0,0,0.15);
    position:absolute;
    top:23px;
  }
  .snap-li{
    cursor:pointer;
    display:inline-block;
    width:150px;
    height:60px;
    margin:28px 0px 0px 8px;
    @include border-radius-same(3px);
    border:1px solid rgba(0,0,0,0.2);
    @include box-shadow(2px,2px,2px,rgba(0,0,0,0.6));
    background:url(/assets/snap-bg.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding:5px 8px;
    p{
      pointer-events:none;
      font-size:13px;
      margin:0px;
      text-align:right;
      &:nth-of-type(1){
        margin-top:6px;
        @include word-break;
      }
      &:nth-of-type(2){
        color:#d8a303;
        font-size:14px;
      }
    }
  }
}
.snap_block{
  position:fixed;
  z-index:9999;
  height:120px;
  width:240px;
  background:#fff;
  padding:8px;
  left:-999em;
  @include box-shadow(3px,3px,4px,rgba(0,0,0,0.9));
  @include border-radius-same(4px);
  border:1px solid rgba(0,0,0,0.4);
  .icon-remove{
    color:$red;
    pointer-events:auto;
    cursor:pointer;
    font-size:16px;
    float:right;
    &:hover{
      color:$red-hover;
    }
  }
  p{
    clear:both;
    text-align: left;
    padding-left:3px;
    font-size:13px;
    color:#666;
    margin-bottom:1px;
  }
  .btn{
    font-size:13px;
    padding:7px 14px;
    margin-top:9px;
  }
}
.report_center_back_pop{
  .choose-project-team{
    $width:540px;
    $height:410px;
    margin-top:- $height / 2;
    margin-left:- $width / 2;
    width:$width;
    height:$height;
    @include border-radius-same(3px);
    &>div{
      padding:8px 6px;
    }
    .basic_info{
      &:after{
        @include after-clear;
      }
      .basic_left{
        @include box-sizing-border;
        width:50%;
        float:left;
        overflow-y:auto;
      }
      .basic_right{
        @include box-sizing-border;
        width:50%;
        float:left;
        overflow-y:auto;
        p{
          padding-left:0px;
        }
        textarea{
          $width:225px;
          width:$width;
          max-width:$width;
          min-width:$width;
        }
      }
    }
    .choose-by-select{
      &>p{
        color:$blue;
      }
    }
    .choose-by-create{
      &>p{
        color:$blue;
      }
    }
  }
}