<div class="upload-file">
  <a class="btn btn-primary upload-btn" onclick="$('#task-attach-uploader').click()">上传模板(最大为20M)</a>
  <input id="task-attach-uploader" class="task-attach-upload" type="file" style="display: none;" multiple="true" data-url="/files/attach" name="files[]">
  <div id="task-attach-uploader-preview">

  </div>

</div>

<% content_for :javascript_includes do%>
    <%= javascript_include_tag "jquery.ui/jquery-ui-1.10.3.custom.min.js"%>
    <%= javascript_include_tag "jquery.file.upload/jquery.fileupload.js"%>
    <%= javascript_include_tag "_file_upload.js"%>
<% end %>

<script type="text/javascript">
    window.onload = function(){
        attach_upload();
    }
</script>