<li class="select-language" id="select-language">
  <span lan="<%= I18n.locale %>"><%= t 'epm.base.language'%></span>
  <i class="icon-caret-down"></i>
  <ul class="menu-select-language" id="menu-select-language">
    <li lan="zh">中文</li>
    <li lan="en">English</li>
    <!--<li lan="de">Deutsch</li>-->
  </ul>
</li>