<div>
  <select data-placeholder="<%= t 'epm.base.language'%>" style="width:140px;" class="chosen-select" id="dashboard-group-name">
    <option value="en" >English</option>
    <option value="zh" >中文（简体）</option>
  </select>
</div>