<div class="page-top">
     <img src="../assets/headicon.png"/>
     <label class="company-name">BrillianTech</label>
     <div class="top-tool pull-right">
          <a class="tool-setting" data-placement="bottom" data-animation=false id="tool-setting" title="设置" > </a>
          <a class="tool-help" data-placement="bottom" data-animation=false id="tool-help" title="帮助"> </a>
          <a class="tool-user" data-placement="bottom" data-animation=false id="tool-user" title="账户"> </a>
     </div>
</div>
<div class="page-navi clearfix">
     <ul class="main-navi pull-left">
          <li>
               <a href="">开始</a>
          </li>
          <li>
               <a href="">仪表盘</a>
          </li>
          <li>
               <a  href="">分析</a>
          </li>
          <li>
               <a href="">报告</a>
          </li>
          <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 管理<b class="caret"></b> </a>
               <ul class="dropdown-menu">
                    <li>
                         <a class="main-navi-dropitem" href="../kpis">KPI</a>
                    </li>
                    <li>
                         <a class="main-navi-dropitem" href="../users">用户</a>
                    </li>
                    <li>
                         <a class="main-navi-dropitem" href="#">付费</a>
                    </li>
               </ul>
          </li>
     </ul>
     <a class="btn btn-success btn-navi pull-right" href="">输入 KPI</a>
</div>
