<script type="text/javascript">
     $(function() {
          data_upload("#item-data-uploader");
     }); 
</script>
<h1>&nbsp;</h1>
<p id="notice">
     <%= notice %>
</p>
<h3>上传/更新数据</h3>
<div>
     上传数据文件：
     <input id="item-data-uploader" type="file" name="files[]" data-url="/admin/kpi_templates/import" >
     <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
</div> 
<%= link_to '返回', admin_kpi_templates_path%>
<%= render :partial => "shares/handling_msg_box", :locals => { :handlemsg => "处理中..." } %>
<a href="/files/template/admin_kpi_template.csv">Download Template</a>