<!DOCTYPE html>
<html>
<head>
  <title>EPM Analysis <% if wicked_pdf_javascript_include_tag "application" %> Tett<% end %></title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "application" %>

  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <script></script>
</head>
<body>
<p id="content">Layout</p>

<div>
</div>

<p id="t"></p>
</body>

</html>


