<!DOCTYPE html>
<html>
<head>
  <title>EPM Analysis <% if wicked_pdf_javascript_include_tag "application" %> Tett<% end %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= wicked_pdf_stylesheet_link_tag "application" %>
  <%= wicked_pdf_javascript_include_tag "application" %>

  <script type="text/javascript">
      $(function(){
          $("#t").text("sdsdsds");
      });
  </script>
</head>
<body>
<p id="content">Layout</p>

<div>
</div>

<p id="t"></p>
</body>

</html>


