.list{
  .item{
    border-top:1px solid rgba(0,0,0,0.15);
    border-bottom:1px solid rgba(0,0,0,0.15);
    background:rgba(255,255,255,0.6);
    padding:5px 3px;
    margin-bottom:3px;
    .minimal-btn{
      $width:20px;
      width:$width;
      height:$width;
      @include border-radius-same(3px);
      display:block;
      float:right;
      color:#fff;
      text-align: center;
      cursor:pointer;
      @include transition(background);
      margin-right:5px;
      margin-top:3px;
      &.delete{
        background:$red;
        &:hover{
          background:lighten($red,10%);
        }
      }
    }
    &.chat{
      height:86px;
      .info{
        height:40%;
        width:100%;
        @include box-sizing-border;
        &>div{
          float:left;
          position:relative;
          @include box-sizing-border;
        }
        &>div:nth-of-type(1){
          width:50px;
          height:100%;
          .avatar{
            $width:35px;
            display: block;
            width:$width;
            height:$width;
            @include border-radius-same(5px);
            position:relative;
            left:50%;
            top:50%;
            margin-top:- $width / 2;
            margin-left: - $width/ 2;
            background:url("/assets/placeholdAvatar.png") no-repeat center center;
          }
        }
        &>div:nth-of-type(2){
          width:150px;
          p{
            margin:0px;
            font-size:14px;
            @include text-overflow-ellipsis;
            &:last-of-type{
              color:#666;
              font-size:13px;
            }
          }
        }
        &>div:nth-of-type(3){
          width:calc(100% - 200px);
        }
      }
      .chat-content{
        width:100%;
        height:60%;
        font-size:14px;
        color:#555;
        padding:4px 3px;
      }
    }
    &.attachment{
      height:45px;
      .content{
        height:70%;
        width:100%;
        @include box-sizing-border;
        &>div{
          float:left;
          position:relative;
          @include box-sizing-border;
        }
        &>div:nth-of-type(1){
          width:50px;
          height:100%;
          text-align:center;
          i{
            font-size:27px;
            color:$orange;
            position:relative;
            top:2px;
          }
        }
        &>div:nth-of-type(2){
          width:200px;
          height:100%;
          p{
            padding-top:6px;
            font-size:15px;
            margin:0px;
            color:$orange;
            text-decoration: underline ;
            cursor:pointer;
            @include transition(color);
            &:hover{
              color:$red;
            }
          }
        }
        &>div:nth-of-type(3){
          width:calc(100% - 250px);
        }
      }
      .intro{
        width:100%;
        height:30%;
        font-size:13px;
        color:#666;
      }
    }
  }
}