<div style="display:table;width:100%;table-layout:fixed;height:100%;margin-top:-71px;position:absolute">
  <div class="content-left-main" id="content-left-main">
    <div style="width:auto;height:71px;"></div>
    <div class="left-content-title" id="left-content-title">
      <p class="current-group-item">管理部门</p>
    </div>

    <div class="manage-left-content" id="dashboard-content" name="department">
      <div class="right-list-top-control" id="right-list-top-control" name="department">
        <input type="checkbox" id="manage-total-check"/>
        <a class="btn" id="manage-item-remove">Delete</a>
      </div>
      <ul id="manage-sort-list" class="manage-sort-list">
        <%@entities.each do |entity|%>
            <li id="<%= entity.id%>" >
              <p class="sort-handle">:</p>
              <input type="checkbox"/>
              <table class="group">
                <tr>
                  <td class="user-manage-name"><%= entity.name %></td>
                </tr>
                <tr>
                  <td>部门名称</td>
                </tr>
              </table>
            </li>
        <%end%>
      </ul>
    </div>










  </div>

  <aside class="content-right-nav" name='group' id="content-right-nav">
    <div style="width:auto;height:71px;"></div>
    <section class="solid" style="position:relative">
      <h3>创建部门</h3>
      <p>Department is the place to put your staff and the view is
        made up of departments</p>
      <a class="btn btn-primary" id="add-department">Create Now</a>
      <div class="content-right-nav-add-block" id="content-right-nav-add-block" name="department">
        <p>give it a name</p>
        <input type='text' />
      </div>
    </section>
    <section class="solid">
      <h3>下一步</h3>
      <p>After creating department , it's time to create user(staff) to your
        department so that they can contribute to their department's KPI </p>
      <a class="btn btn-primary" id="dashboard-full-size" href="<%= users_path%>">管理用户</a>
    </section>

  </aside>

</div>
<script>
    $(document).ready(function () {
        MANAGE.init();
        MANAGE.department.init();
    })
</script>