/* iCheck plugin Minimal skin, aero
----------------------------------- */
.icheckbox_minimal-aero,
.iradio_minimal-aero {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../../images/aero.png) no-repeat;
    /*background: url(/assets/aero.png) no-repeat;*/
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-aero {
    opacity:0.7;
    border:1px solid #d3cfc8;
    width: 22px !important;
    height: 22px !important;
    background: url(../../images/blue.png) 0 0 no-repeat !important;
    /*background: url(/assets/blue.png) 0 0 no-repeat !important;*/
}
.icheckbox_minimal-aero.hover {
    background: url(../../images/blue.png) 0 0 no-repeat !important;
    /*background: url(/assets/blue.png) 0 0 no-repeat !important;*/
    border:1px solid #d3cfc8;
    opacity:1;
}
.icheckbox_minimal-aero.checked {
    opacity:0.8;
    background: url(../../images/blue.png) no-repeat -48px 0 !important;
    border:1px solid #2489c5;
    /*background: url(/assets/blue.png) no-repeat -48px 0 !important;*/
}
.icheckbox_minimal-aero.disabled {
    background: url(../../images/blue.png) no-repeat -72px 0 !important;
    /*background: url(/assets/blue.png) no-repeat -72px 0 !important;*/
    cursor: default;
}
.icheckbox_minimal-aero.checked.disabled {
    background: url(../../images/blue.png) no-repeat -96px 0 !important;
    /*background: url(/assets/blue.png) no-repeat -96px 0 !important;*/
}

.iradio_minimal-aero {
    background-position: -100px 0;
}
.iradio_minimal-aero.hover {
    background-position: -120px 0;
}
.iradio_minimal-aero.checked {
    background-position: -140px 0;
}
.iradio_minimal-aero.disabled {
    background-position: -160px 0;
    cursor: default;
}
.iradio_minimal-aero.checked.disabled {
    background-position: -180px 0;
}

