<% content_for :javascript_includes do%>
<%= javascript_include_tag "jquery-collision.min.js"%>
<%= javascript_include_tag "jquery.ui/jquery.draggable.js"%>
<% end %>
<div class="tree">
  <ul class="draggable">
    <li>
      <a href="#">President Director <br/>Tetsuo Nakai</a>
      <ul>
        <li>
          <a href="#">
            HR &amp; Administration<br/>
            Heli Neo<br/>Manager</a>
          <ul>
            <li>
              <a href="#">IT Administrator <br/>Ericson Ginting<br/>Assistant Manager</a>
              <ul>
                <li>
                  <a href="#">IT Engineer <br/>I Wayan Purushottama<br/>Engineer</a>
                  <ul>
                    <li>
                      <a href="#">IT Support<br/>Juanda F Butar Butar<br/>Assistant Engineer</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="just-line"><br/><br/><br/></a>
                  <ul>
                    <li>
                      <a href="#">IT Support<br/>David Alwis<br/>Assistant Engineer</a>
                      <ul>
                        <li>
                          <a href="#">IT Support<br/>Nico Simanjuntak<br/>Technician</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="draggable">

  </ul>
</div>
<% @entity_groups.each do |e|%>
<div class="tree">
  <ul class="draggable">
    <li>
      <a>e.name</a>
    </li>

  </ul>
</div>
<% end %>

<script type="text/javascript">
  /*
  $(document).ready(function(){

    $(".draggable a").addClass("collision");

    $(".draggable a").on('mouseenter',function(){
      $(this).removeClass("collision");
      $(this).parent().draggable({handle: "a"});
      //$(this).parent().bind("dragstart",Overlap);
      $(this).parent().bind("dragstop",Overlap);
      //$(this).parent().bind("drag",Overlap);
    });

    $(".draggable a").on('mouseleave',function(){
      $(this).addClass("collision");
    });
  });

  function Overlap(){
    console.log("overlap");
    var col = $(this).children("a").collision(".collsion");
    col.addClass("hit");
  }
*/
</script>
