<% content_for :javascript_includes do%>
<%= javascript_include_tag "jquery-collision.min.js"%>
<%= javascript_include_tag "jquery.ui/jquery.draggable.js"%>
<% end %>

<% @entity_groups.each do |e|%>
<div class="tree">
  <ul class="draggable">
    <li entity_group="<%= e.id %>">
      <a><%= e.name%></a>
    </li>
  </ul>
</div>
<% end %>

<script type="text/javascript">
  /*
  $(document).ready(function(){

    $(".draggable a").addClass("collision");

    $(".draggable a").on('mouseenter',function(){
      $(this).removeClass("collision");
      $(this).parent().draggable({handle: "a"});
      //$(this).parent().bind("dragstart",Overlap);
      $(this).parent().bind("dragstop",Overlap);
      //$(this).parent().bind("drag",Overlap);
    });

    $(".draggable a").on('mouseleave',function(){
      $(this).addClass("collision");
    });
  });

  function Overlap(){
    console.log("overlap");
    var col = $(this).children("a").collision(".collsion");
    col.addClass("hit");
  }
*/
</script>
