<% content_for :javascript_includes do%>
<%= javascript_include_tag "dom-drag.js"%>
<% end %>
<div class="tree">
  <ul class="draggable">
    <li id="a">
      <a href="#">President Director <br/>Tetsuo Nakai</a>
      <ul>
        <li>
          <a href="#">
            HR &amp; Administration<br/>
            Heli Neo<br/>Manager</a>
          <ul>
            <li id="b">
              <a href="#">IT Administrator <br/>Ericson Ginting<br/>Assistant Manager</a>
              <ul>
                <li>
                  <a href="#">IT Engineer <br/>I Wayan Purushottama<br/>Engineer</a>
                  <ul>
                    <li>
                      <a href="#">IT Support<br/>Juanda F Butar Butar<br/>Assistant Engineer</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="just-line"><br/><br/><br/></a>
                  <ul>
                    <li>
                      <a href="#">IT Support<br/>David Alwis<br/>Assistant Engineer</a>
                      <ul>
                        <li>
                          <a href="#">IT Support<br/>Nico Simanjuntak<br/>Technician</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  //
  var array = $("draggble > li");
  var a = document.getElementById("a");
  var b = document.getElementById("b");
  //Drag.init(a);
  Drag.init(b);

  a.onDrag = function(x,y){
  console.log(x+" "+y);
  }

  });
</script>
