<style type="text/css">
  #canvas-container {
      height: 500px;
      width: 500px;
      border: 1px solid #aaa;
  }
</style>
<h2>Departments</h2>
<div id="canvas-container">
</div>
<script type="text/javascript">
  $(document).ready(function(){
      var paper = new Raphael(document.getElementById('canvas-container',500,500));
      var circle = paper.circle(250,140,40);
      circle.attr("fill","#000");
      circle.attr("stroke","#000");
  });
</script>
<% content_for :javascript_includes do%>
    <%= javascript_include_tag "raphael.js"%>
<%end%>
