<div class="get-start-middle clearfix startup-middle">
    <div style="width:880px;position:relative;margin-left:-440px;left:50%;padding:30px 0;">
          <img src="/assets/naviPage.png"/>
    </div>
</div>
