<h1>add kpi</h1>
kpi category:<%=select_tag :kpi_category_id,options_from_collection_for_select(@categories,'id','name')%></br>
kpi unit:<%=select_tag :unit,options_from_collection_for_select(@categories,'id','name')%></br>
kpi frequency:<%=select_tag :kpi_category_id,options_from_collection_for_select(@categories,'id','name')%></br>
kpi direction:<%=select_tag :kpi_category_id,options_from_collection_for_select(@categories,'id','name')%></br>
