<ul class="left">
     <%@user_kpis.each_with_index do |kpi,i|%>
     <li id="<%= kpi.user_kpi_item_id%>">
          <h3><%= kpi.name%></h3>
          <p title="<%= kpi.description%>">
               <%= kpi.description%>
          </p>
          <i class="icon-trash"></i>
     </li>
     <%end%>
</ul>