<section class="manage_no_aside" id="manage_no_aside">
  <div class="content-left-main" name="category" id="content-left-main">
    <div class="header" id="left-content-title">
      <p class="current-group-item">
        <%= t 'menu.my_kpi' %>
      </p>
    </div>
    <div class="manage-left-content" id="manage-left-content">
      <%= render :partial => 'kpi_categories/left_readonly_menu' %>
      <div class="right" id="manage-right-content">
        <div class="manage-btn-group" id="manage-btn-group">
          <p id="manage-edit-target"></p>
          <i class="icon-pencil"></i>
          <input type="text"/>
        </div>
        <div class="manage-right-list">
          <div id="kpi-item-container">
            <%= render partial: 'access' %>
          </div>
          <div class="kpi-library" id="subscribe-kpi-block" type="attribute">
            <div>
              <i class="icon icon-remove" id="subscribe-kpi-block-remove"></i>
              <div class="attribute-block" type="edit">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

