<section class="daily_dpv">
  <div class="left">
    <div id="chart_dpv_one" class="chart_dpv_one"></div>
    <div id="data_container" class="data_container"></div>
    <div id="chart_dpv_two" class="chart_dpv_two"></div>

  </div>
  <div class="right">
  </div>
  </section>
<script>
    $(document).ready(function(){
        Report.init("daily_dpv");
        var data = JSON.parse($("#hidden-data").val());
        Report.json_parse(data);
    });
</script>