.btn{
  display:block;
  text-align:center;
  background:#eee;
  transition: background-color 0.25s ease 0s,color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  -webkit-transition: background-color 0.25s ease 0s;
  background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.3) 55%) #e4e4e4;
  background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.3) 55%) #e4e4e4;
  cursor:pointer;
  padding:8px 8px;
  margin:0 20px;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  vertical-align:middle;
  color:rgba(0, 0, 0, 0.5);
  font-weight:lighter;
  &:hover{
    background:rgba(238,238,238,0.7);
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.5) 55%) #eee;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.5) 55%) #eee;
    color:rgba(0,0,0,0.4)
  }
  & i{
    position:relative;
    top:0px;
    left:-2px
  }
  &.btn-danger{
    background:#f75460;
    color:white;
    &:hover{
      background:#f56969;
    }
  }
  &.btn-primary{
    background:#5fa9da;
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(95, 169, 218, 0.2) 55%) #5fa9da;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(95, 169, 218, 0.2) 55%) #5fa9da;
    color:#fff;
    &:hover{
      background:#69aef5;
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(105, 174, 245, 0.2) 55%) #69aef5;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(105, 174, 245, 0.2) 55%) #69aef5;
    }
  }
  &.btn-dark{
    background:#333;
    color:#fff;
    &:hover{
      background:rgba(0,0,0,0.6);
    }
  }
  &.btn-success{
    background:$green;
    color:#fff;
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.2) 55%) $green;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.2) 55%) $green;
    &:hover{
      background:$green-hover;
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.5) 55%) $green;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.5) 55%) $green;
    }
  }
  &.btn-warning{
    background:#eb9541;
    color:#fff;
    &.linear{
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.2) 55%) #eb9541;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.2) 55%) #eb9541;
      &:hover{
        background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.5) 55%) #eb9541;
        background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.5) 55%) #eb9541;
      }
    }
    &:hover{
      background:#f6af6a
    }
  }
  &.btn-small{
    display:inline-block;
    padding:5px 26px;
    font-size:12px;
  }
}