<style>
  #ProductLine > strong {
    margin: -3px 10px 0 2px;
  }

  .SaveLists {
    width: 200px;
    font-size: 1.2em;
    margin: 10px 0 0 -37px;
  }

  a:hover, a:active {
    text-decoration: none;
    background-color: white;
    color: black;
    outline: none;
  }
</style>

<div class="panel panel-primary" style="margin: 20px 15px 0 15px;">
  <div class="panel-body" style="text-align: left;display: flex">
    <div class="col-md-2" style="border-right: 1px solid #ccc;">
      <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1em;">
        <li>
          <a href="/display_set_lists">生产线展示列表设置</a>
        </li>
        <li class="active">生产线展示列表</li>
      </ol>
    </div>
  </div>
</div>

<div class="col-md-12" style="margin: 20px 0 0 0;">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title" style="display: flex;">
        <div class="col-md-3">
          <h3>生产线展示列表</h3>
        </div>

        <div class="col-sm-6">
          <input class="datepicker start_time" type="text"/>

          <b>~</b>

          <input class="datepicker end_time" type="text"/>
        </div>

        <div class="col-md-4" style="text-align: right;">
          <button class="btn btn-primary SaveLists"><i class="glyphicon glyphicon-ok"></i>&emsp;保存</button>
        </div>
      </div>
    </div>
    <div class="panel-body" style="text-align: center;border-bottom: 1px solid #000000;">
      <div class="col-md-2">
        <h4>生产线列表</h4>
      </div>

      <div class="col-md-10" id="ProductLine" style="border-left: 1px solid #CCCCCC;min-height: 60px;">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/jquery.ui/jquery.datetimepicker.js"></script>
<link data-turbolinks-track="true" href="/assets/jquery.datetimepicker.css" media="all" rel="stylesheet"/>
<script type="text/javascript">
  $(function () {
    $(".datepicker").datetimepicker({
      lang: 'ch',
      format: 'Y-m-d'
    });
  });
  ShowProductLine();

  var ListJSON = [];
  $('.SaveLists').click(function () {

    var start_time = $('.start_time').val();
    var end_time = $('.end_time').val();

    $('.CheckBox').each(function () {
      var ProductLineId = $(this).attr('id');
      var ProductLineStatus = $(this).attr('ischecked');
      ListJSON.push({id: ProductLineId, status: ProductLineStatus});
    });

    $.ajax({
      url: '/display_set_lists/add_lists',
      type: 'post',
      data: {
        start_time: start_time,
        end_time: end_time,
        product_line_data: ListJSON
      },
      success: function (data) {
        location.reload();
      },
      error: function () {
      },
      complete: function (xhr) {
        if (xhr.status == 304) return;
      }
    });
  });

  function ShowProductLine() {
    <% @product_lines.each_with_index do |p| %>
    $('<div class="col-md-2" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;border: 1px solid lightseagreen;background: lightseagreen;color: white;border-radius: 4px;margin:0 5px 5px 5px;text-align: left;height: 30px;padding: 5px 0 0 10px;">' +
        '<input type="checkbox" class="CheckBox" id="<%= p.id%>" ischecked="false"><strong title="<%= p.name %>">' + '<%= p.cn_name %>' + '</strong></input></div>').appendTo('#ProductLine').ready(function () {
    });
    <% end %>

    $(":checkbox").click(function () {
      if ($(this).attr('ischecked') == "true") {
        $(this).attr('ischecked', 'false');
      } else {
        $(this).attr('ischecked', 'true');
      }
    });
  }

  $(document).ready(function () {
    if ($(".col-md-2").length == $(".CheckBox:ischecked").length) {
      $("#CheckBox").prop("ischecked", true);
    } else {
      $("#CheckBox").prop("ischecked", false);
    }
  });
</script>