<section class="manage_no_aside_no_menu" id="manage_no_aside_no_menu">
  <div class="content-left-main" name="category" id="content-left-main">
    <div class="header" id="left-content-title">
      <p class="current-group-item">
        <%= t 'menu.subscription' %>
      </p>
    </div>
    <div class="manage-left-content" id="manage-left-content">
      <div class="manage-right-content" id="manage-right-content" >
        <div class="manage-right-list kpi-subscribes">
          <div id="kpi-item-container">
            <%= render :partial => 'subscribes'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
