<h2>App Update</h2>
<ul>
	<li><p>Version:</p><input id="version" type="text" value="<%= @setting.ios_app_version if @setting %>"/></li>
	<li><p>Optional:</p><input id="optional" type="text" value="<%= @setting.ios_app_update_is_option if @setting %>"/></li>
	<li><input type="button" onclick="save_version()" value="Update"/></li>
</ul>
<script type="text/javascript">
	function save_version(){
		var data = {};
		data.version = $("#version").val();
		data.optional = $("#optional").val().length < 1 ? 0 : $("#optional").val();

		$.ajax({
			url:"/admin/settings/version_save",
			data:data,
			type:"POST",
			dataType:"json",
			success:function(data){
				if(data.result){
					MessageBox("Update App version successfully!","top","success");
				}else{
					MessageBox("Update App version failed!","top","warnning");
				}
			},
		});
	}
</script>