<h1>Listing kpiproperties</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kpiproperties.each do |kpiproperty| %>
  <tr>
    <td><%= link_to 'Show', kpiproperty %></td>
    <td><%= link_to 'Edit', edit_kpiproperty_path(kpiproperty) %></td>
    <td><%= link_to 'Destroy', kpiproperty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kpiproperty', new_kpiproperty_path %>
