<div class="comment-area">
  <div class="form">
    <textarea placeholder="leave your comment here ..." class="form-control my_post_comment"></textarea>
    <input type="button" class="btn btn-warning comment-submit-button" value="comment" />
  </div>
  <ul class="comment-content-list">

        <li>
          <p><a>wayne:</a>asfd</p>
          <span>7 hours ago</span>
        </li>
    <li>
      <p><a>wayne:</a>asfd</p>
      <span>7 hours ago</span>
    </li>

  </ul>
</div>

