<%=stylesheet_link_tag "story_sets/addChart" %>
<section class="outer">
  <div class="left">
    <div class="panel">
      <a class="btn btn-primary back-btn">Back</a>
      <p class="title">Generate Chart</p>
      <input placeholder="Type" type="text" />
      <input placeholder="KPI" type="text"  />
      <input placeholder="View" type="text" />
      <div class="date-box">
        <div class="range">

        </div>
      </div>
    </div>
  </div>
  <div class="right"></div>
</section>