<div class="story-set-new">
  <p>Create new discussion</p>

  <div class="divide"></div>
  <div class="form">
    <p>Discussion name</p>
    <input type="text" id="storyset-title"/>

    <p>Discussion description</p>
    <textarea id="storyset-description" placeholder="write your description"></textarea>

    <p>Invite people</p>
    <select multiple class="chosen-select" data-placeholder="people list" id="storyset-users">
      <%@users.each do |u| %>
          <option user="<%= u.id %>"><%= u.first_name %></option>
      <% end %>
    </select>
    <a class="btn btn-primary" id="story-create-btn">create</a>
    <%= link_to 'cancel', story_sets_path, :class => "btn"%>
  </div>
</div>


<% content_for :javascript_includes do %>
    <%= javascript_include_tag "Manage-storyset.js" %>
<% end %>
