@font-face {
    font-family:"open-sans";
    /*src: url("/assets/OpenSans-Regular.eot");*/
    /*src: local("/assets/OpenSans-Regular Regular"),*/
    /*local("/assets/OpenSans-Regular"),*/
    /*url('/assets/OpenSans-Regular.woff') format('woff'),*/
    /*url('/assets/OpenSans-Regular.ttf') format('truetype'),*/
    /*url('/assets/OpenSans-Regular.svg#OpenSans-Regular') format('svg');*/
    src: url("font/OpenSans-Regular.eot");
    src: local("font/OpenSans-Regular Regular"),
    local("font/OpenSans-Regular"),
    url('font/OpenSans-Regular.woff') format('woff'),
    url('font/OpenSans-Regular.ttf') format('truetype'),
    url('font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}
@font-face {
    font-family:"helve";
    /*src:url("/assets/helveticaneueultralight.ttf"),*/
    /*url("/assets/helveticaneueultralight.eot");*/
    src:url("font/helveticaneueultralight.ttf"),
    url("font/helveticaneueultralight.eot");
}
html{
    height:100%;
}
body{
    margin:0;
    height:100%;
    font-weight:500;
    font-family:"open-sans";
    overflow-y:hidden;
}
/*********************************************************************************************************左边用户设置部分
*******************************************************************************************************************/
.left-user-setting{
    position:absolute;
    top:0;
    height:100%;
    bottom:0;
    width:200px;
    background-color:#333;
    z-index:90;
    left:-200px;
    transition:left 0.25s ease-out;
    -moz-transition:left 0.25s ease-out;
    -webkit-transition:left 0.25s ease-out;
}
.btn-log-out{
    z-index:100;
    position:absolute;
    bottom:40px;
    width:76%;
    left:50%;
    margin-left:-38%;
}
/********************************************************************************************************* 右边主内容区
*******************************************************************************************************************/
.wrap-main{
    min-width:1024px;
    height:100%;
    position:absolute;
    transition:left 0.25s ease-out;
    right:0;
    left:0;
    overflow-y:hidden;
    overflow-x:hidden;
}
/*********************************************************************************************************头部
*******************************************************************************************************************/
header{
    height:135px;
    background-color:#f2f2f2;
    z-index:10;
    position:relative;
}
.user-portrait-background{
    background:rgba(69,159,210,0.8);
    background:-moz-radial-gradient(rgba(69,159,210,0.5),rgba(69,159,210,0.8));
    background:-webkit-radial-gradient(rgba(69,159,210,0.5),rgba(69,159,210,0.8));
    position:relative;
    height:100%;
    width:150px;
    cursor:pointer;
}
.user-portrait-brand{
    /*background:url("/assets/logo.png") no-repeat center bottom;*/
    background:url("../images/logo.png") no-repeat center bottom;
    width:150px;
    height:117px;
}
/*.user-portrait-name{*/
    /*color:white;*/
    /*font-family:"Brush Script std";*/
    /*padding-left:31px;*/
    /*font-size:18px;*/
    /*margin-top:5px;*/
/*}*/
nav{
    height:100%;
}
nav ul{
    list-style: none;
    display:inline-block;
    margin:0;
    padding-left:5px;
}
nav>ul>li{
    float:left;
    line-height:21px;
}
nav>ul>li>a{
    display:block;
    width:135px;
    color:#959595;
    font-size:16px;
    height:105px;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
}
nav ul li a:hover{
    color:#f5a133;
}
nav ul li a span:nth-of-type(1){
    display:block;
    margin-top:30px;
    margin-bottom:10px;
}
nav ul li a span:nth-of-type(2){
    display:block;
    width:100%;
    height:52px;
    /*background-image:url("/assets/nav-btn.png");*/
    background-image:url("../images/nav-btn.png");
    background-repeat:no-repeat;
}
/********************************************************* get start
**************************************************************/
.nav-get-started{
    background-position:center 0px;
}
nav ul li a:hover .nav-get-started{
    background-position:center -50px;
}
/********************************************************* dash board
**************************************************************/
.nav-dash-board{
    background-position:center -100px;
}
nav ul li a:hover .nav-dash-board{
    background-position:center -148px;
}
/********************************************************* analytics
**************************************************************/
.nav-analytics{
    background-position:center -195px;
}
nav ul li a:hover .nav-analytics{
    background-position:center -238px;
}
/********************************************************* manage
**************************************************************/
.nav-manage{
    background-position:center -515px;
}
nav ul li a:hover .nav-manage{
    background-position:center -561px;
}
nav ul li a:hover ~ .nav-manage-sub{
    left:auto;
}
.nav-manage-sub{
    position:absolute;
    width:135px;
    padding:0;
    background:#f2f2f2;
    z-index:100;
    left:-999em;
}
.nav-manage-sub:hover{
    left:auto;
}
.nav-manage-sub>li>a{
    text-align:center;
    display:block;
    color:#959595;
    padding:7px 0;
    cursor:pointer;
    text-decoration:none;
}
/********************************************************* reports
**************************************************************/
.nav-report{
    background-position:center -299px;
}
nav ul li a:hover .nav-report{
    background-position:center -353px;
}
/********************************************************* entry kpi
**************************************************************/
.nav-entry-kpi{
    background-position:center -413px;
}
nav ul li a:hover .nav-entry-kpi{
    background-position:center -466px;
}
.manage-nav-table{
    height:100%;
}
.manage-nav-table td a{
    text-decoration:none;
    color:#959595;
}
/********************************************************************************************************* Message
*******************************************************************************************************************/
.message-box{
    position:fixed;
    z-index:100;
    width:600px;
    margin-left:-300px;
    word-break:break-all;
    word-wrap:break-word;
    left:50%;
    padding:15px 10px 8px;
    text-align:center;
    display:none;
    word-break:break-all;
    word-wrap:break-word;
}
.message-box p{
    font-size:16px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.message-box.top{
    top:0;
}
.message-box.bottom{
    bottom:0;
}
.message-box.success{
    background:#45d263;
    color:white;
}
.message-box.danger{
    background-color:#fa4545;
    color:white
}
.message-box.warning{
    color:white;
    background-color:#f3ca39;
}
/*********************************************************************************************************  date picker
*******************************************************************************************************************/
.date-picker-shortcut{
    text-align:center;
    cursor:pointer;
    font-size:14px;
    padding:0px;
    text-align:center;
}
.date-picker-shortcut:hover{
    background-color:#eee
}
.date-picker-shortcut[interval='hour']:after{
    content:'last 24 hours';
}
.date-picker-shortcut[interval='day']:after{
    content:'last 7 days';
}
.date-picker-shortcut[interval='week']:after{
    content:'last 4 weeks';
}
.date-picker-shortcut[interval='month']:after{
    content:'last 3 months';
}
.date-picker-shortcut[interval='quarter']:after{
    content:'last 4 quarters';
}
.date-picker-shortcut[interval='year']:after{
    content:'last 3 years';
}
/************************************************* date input
********************************************************************/
.index-pick-date[type="text"] {
    padding: 4px 5px;
    background-color: white;
    width: 150px !important;
    margin-left: 42px;
    font-size: 13px;
    cursor: default;
    margin-bottom: 0px;
    font-family: 'open-sans';
    height:20px;
}

.index-pick-date[type="text"]:nth-of-type(2) {
    margin-top: 6px;
}
[week="picker"] tbody tr:hover{
    background-color: #eee;
}
[week="picker"] tbody tr.week-tr-active{
    background-color: #5fa9da;
    color: white;
}
[week="picker"] tbody tr.week-tr-active>td {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.datepicker [week="picker"] table  tr.week-tr-active td.day:hover {
    background: none;
}

