/*************************************************************************************     Anaytics
************************************************************************************************************************/
.analytics-mark{
    width:150px;
    height:100%
}
/************************************************************************** condition part
****************************************************************************************/
.analytics-condition{
    height:100px;
}
/************************************************* select
********************************************************************/
.analytics-condition-choose {
    margin-top:30px;
    padding:5px 50px;
}