.chosen-attribute{
  float:left;
  width:280px;
  height:80px;
  &>div{
    margin-top:2px;
    & .chosen-choices{
      overflow-y:auto;
      max-height:60px !important;
      height:60px !important;
    }
  }
}