@import "STYLE";
.chosen-attribute{
  float:left;
  width:280px;
  height:80px;
  &>div{
    margin-top:2px;
    & .chosen-choices{
      overflow-y:auto;
      max-height:60px !important;
      height:60px !important;
    }
  }
}
.chart-body-sass{
  .compare-current-btn{
    float:right;
    padding:5px 0px;
    width:120px;
    font-size:12px;
    z-index:999;
    position:relative;
    top:3px;
    right:-6px;
  }
}