/*************************************************************************************     Anaytics
************************************************************************************************************************/
.analytics-mark {
    width: 150px;
    height: 100%
}

/************************************************************************** condition part
****************************************************************************************/
.analytics-condition {
    height: 110px;
    background-color: #fbfbfb;
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    transition: top 0.35s ease-out;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.index-condition-group {
    width: 250px;
    float: left;
}

.index-condition-group:first-of-type {
    width: 430px;
    height: 66px;
    position: relative;
}

.index-condition-group:nth-of-type(2) {
    width: 260px;
}

.analytic-control-condition-visible {
    position: absolute;
    bottom: 5px;
    left: 50%;
    opacity: 0.4;
    font-size: 15px;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 0.25s ease-out;
}

.analytic-control-condition-visible:hover {
    opacity: 0.9;
}

.analytics-condition-invisible-mark {
    position: absolute;
    bottom: 2px;
    margin: 0px;
    left: 40px;
    color: #5fa9da;
}

/************************************************* select
********************************************************************/
.analytics-condition-choose {
    padding: 18px 0px 5px 31px;
}

.chosen-container-single .chosen-single {
    background: white;
}

div[title='analy-entity-select'] {
    position: absolute;
    left: 0px;
    top: 18px;
}

div[title='analy-kpi-select'] {
    position: absolute;
    left: 150px;
    bottom: 0px;
    top: 18px;
}

div[title='analy-view-select'] {
    position: absolute;
    top: 18px;
    right: 0px;
}

.index-date-extra-info {
    display: inline-block;
    color: #888;
    margin: 0;
    vertical-align: middle;
    font-size: 12px;
    width: 42px;
    text-align: center;
    line-height: 14px;
}

/************************************************* radio input
********************************************************************/
.analytics-radio-label {
    margin-bottom: 12px;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: -1px;
    display: block;
    font-size: 14px;
}

.analytics-radio-label > div {
    display: inline-block;
    top: 4px;
    left: -2px;
}

/************************************************************************** chart body
****************************************************************************************/
.chart-interval-alternate {
    height: 28px;
}

.control-chart-interval-group {
    list-style-type: none;
    display: block;
    margin: 0;
    border-right: 1px solid #ddd;
}

.control-chart-interval-group li {
    display: inline;
    border-width: 0px 0px 1px 1px;
    border-color: #ddd;
    border-style: solid;
    float: left;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.control-chart-interval-group li a {
    display: block;
    width: 35px;
    height: 27px;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
    pointer-events: none;
}

.control-chart-interval-group > li.active > a {
    color: rgba(0, 0, 0, 0.7);
}

.control-chart-interval-group li:hover {
    color: rgba(0, 0, 0, 0.7);
}

.chart-body {
    padding: 0;
    position: relative;
    top: 112px;
    right: 0;
    overflow-x: hidden;
    transition: top 0.35s ease-out;
    width: 100%;
    border-top: 1px dotted #ddd;
    display: none
}

.chart-type-alternate {
    width: 100%;
    height: 70px;
    border-collapse: collapse;
    position: absolute;
    left: 0px;
    transition: left 0.35s ease-out;
}

.chart-type-alternate td {
    border-width: 0 1px 0px 1px;
    border-color: #ddd;
    border-style: dotted;
    width: 10%;
    transition: width 0.5s ease-in;
    cursor: pointer;
}

.chart-type-alternate td.image p {
    /*background-image: url("../images/analytics-chart-type.png");*/
    /*background-image: url("/assets/analytics-chart-type.png");*/
    /*background-repeat: no-repeat;*/
    color: #5fa9da;
    font-weight: bold;
}

.chart-type-alternate td p {
    text-align: center;
    font-family: "helve";
    letter-spacing: 1px;
    font-size: 41px;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.chart-type-alternate td:hover p {
    color: black;
}

/*td.analytics-chart-line {*/
/*background-position: center 2px;*/
/*}*/
/*td.analytics-chart-column {*/
/*background-position: center -103px;*/
/*}*/

/*td.analytics-chart-pie {*/
/*background-position: center -207px;*/
/*}*/

/*td.analytics-chart-scatter {*/
/*background-position: center -313px;*/
/*}*/
#chart-main-middle {
    left: 0px;
    transition: left 0.35s ease-out;
}

.chart-container {
    position: relative;
    left: 0;
    transition: left 0.35s ease-out;
}

.chart-detail-table {
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    font-weight: lighter;
    border-collapse: collapse;
    margin-top: 5px;
}

.chart-detail-table thead td {
    font-size: 21px;
    padding-bottom: 18px;
}

.chart-detail-table tbody tr {
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

.chart-detail-table tbody td {
    padding: 5px 7px;
}

.chart-detail-close {
    cursor: pointer;
    color: #000;
    pointer-events: auto;
    transition: color 0.25s ease-out;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 19px;
    z-index: 100
}

.chart-detail-close:hover {
    color: rgba(0, 0, 0, 0.5);
}

/************************************************************************** chart detail
****************************************************************************************/
.tcr-trend {
    /*background-image:url("../images/TCR-trend.png");*/
    background-image: url("/assets/TCR-trend.png");
    background-repeat: no-repeat;
}

.tcr-trend.high {
    color: #4aaf5d;
    background-position: 133px 7px;
}

.tcr-trend.middle {
    color: #5fa9da;
    background-position: 133px -33px;
}

.tcr-trend.low {
    color: #fa4545;
    background-position: 133px -81px;
}

/************************************************************************** group detail
****************************************************************************************/
.chart-point-detail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -400px;
    width: 350px;
    overflow-y: auto;
    padding: 5px 25px;
    transition: left 0.35s ease-out;
    box-shadow: -4px 0 3px rgba(0, 0, 0, 0.1) inset;
    background: rgba(236, 236, 236, 0.5);
    background-size: cover;
}

.chart-point-detail .chosen-container {
    position: relative;
    left: 50%;
    top: 21px;
    margin-left: -125px;
}

.chart-point-detail .chart-part {
    margin-top: 45px;
}

.chart-point-detail .chart-part ul {
    padding: 0px 5px 0 0;
    margin: 0px 0 0 5px;
    list-style: none;
    width: 130px;
    height: 200px;
    overflow-y: auto;
}

.chart-point-detail .chart-part ul li {
    width: 100%;
    font-size: 13px;
    padding: 2px 0;
}

.chart-point-detail .chart-part ul li span {
    display: inline-block;
}

.chart-point-detail .chart-part ul li span:first-of-type {
    width: 70%;
}

.chart-point-detail .chart-part ul li span:last-of-type {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.chart-point-detail .chart-part canvas,
.chart-point-detail .chart-part ul {
    float: left;
}

.chart-point-detail .chart-part:after {
    content: "";
    clear: both;
    display: block;
}

.group-detail-table {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 28px;
    padding-top: 8px;
    max-width: 300px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.group-detail-table table {
    width: 100%;
    border-collapse: collapse;
}

.group-detail-table table thead td {
    font-size: 14px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.group-detail-table table thead td:last-of-type {
    width: 30px;
}

.group-detail-table table tbody {
    font-size: 13px;
}

.group-detail-table table tbody td {
    padding: 4px 0px;
    color: #777;
    font-weight: 200;
}

.group-detail-table table tbody tr td:last-of-type i {
    margin-left: 5px;
}

.group-detail-table table tbody tr td:last-of-type i.icon-arrow-up {
    color: #26c826;
}

.group-detail-table table tbody tr td:last-of-type i.icon-arrow-down {
    color: #f75460
}