@import "help.css.scss";
@import "main_part/header.css.scss";
@import "main_part/btn.css.scss";
@import "main_part/date_picker.css.scss";
@import "main_part/message.css.scss";
@import "libs/font-awesome.css";
@import "libs/aero";
@import "libs/chosen";
@font-face {
  font-family:"open-sans";
  src: url("/assets/OpenSans-Regular.eot");
  src: local("/assets/OpenSans-Regular Regular"),
  local("/assets/OpenSans-Regular"),
  url('/assets/OpenSans-Regular.woff') format('woff'),
  url('/assets/OpenSans-Regular.ttf') format('truetype'),
  url('/assets/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}
@font-face {
  font-family:"helve";
  src:url("/assets/helveticaneueultralight.ttf"),
  url("/assets/helveticaneueultralight.eot");
}
@font-face {
  font-family:'maven';
  src:url("/assets/mavenprolight300.ttf"),
  url("/assets/mavenprolight300.eot");
}
@font-face {
  font-family:'avenir';
  src:url("/assets/Avenir-Roman.ttf"),
  url("/assets/Avenir-Roman.eot");
}
html{
  height:100%;
  width:100%;
}
body{
  margin:0;
  font-weight:500;
  font-family:"open-sans";
  width:100%;
}
ul{
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.wrap-main{
  min-width:1290px;
  position:absolute;
  transition:left 0.25s ease-out;
  right:0;
  left:0;
  height:100%;
  background:$background-grey;
  min-height:700px;
}

/************************************************* date input
********************************************************************/
.index-pick-date[type="text"] {
  padding: 4px 5px;
  background-color: white;
  width: 150px !important;
  margin-left: 42px;
  font-size: 13px;
  cursor: default;
  margin-bottom: 0px;
  font-family: 'open-sans';
  height:20px;
}

.index-pick-date[type="text"]:nth-of-type(2) {
  margin-top: 6px;
}
[week="picker"] tbody tr:hover{
  background-color: #eee;
}
[week="picker"] tbody tr.week-tr-active{
  background-color: #5fa9da;
  color: white;
}
[week="picker"] tbody tr.week-tr-active>td {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.datepicker [week="picker"] table  tr.week-tr-active td.day:hover {
  background: none;
}
/********************************************************************************************************* language select
*******************************************************************************************************************/
.language-select{
  width:90px;
}
.language-select>select{
  width:90px;
}
.language-select .chosen-container-single .chosen-single{
  background:white !important;
  border:1px solid #ddd;
  box-shadow:none !important;
}
.language-select .chosen-container-single .chosen-single div{
  background:white !important;
  border-left:none !important;
}
/********************************************************************************************************* get start
*******************************************************************************************************************/
.get-start-middle{
  position:absolute;
  top:135px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:auto;
}
#highcharts-0 {
  overflow:visible!important;
  z-index:1!important;
}
/********************************************************************************************************* modal
*******************************************************************************************************************/
.modal-outer{
  position:fixed;
  left:-999em;
  right:auto;
  top:0px;
  bottom:0px;
  z-index:99;
  background:rgba(0,0,0,0.8);
}
.modal-outer>.modal-inner{
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.modal-outer>.modal-inner>i.icon-remove{
  font-size:26px;
  color:#fff;
  position:absolute;
  right:-21px;
  top:-30px;
  pointer-events:auto;
  cursor:pointer;
  transition:color 0.25s ease-out;
}
.modal-outer>.modal-inner>i.icon-remove:hover{
  color:rgba(255,255,255,0.7);
}
/********************************************************************************************************* 上传
*******************************************************************************************************************/
.upload-file-name{
  font-size:13px;
  color:#222;
  max-width:80%;
  word-break:break-all;
  word-wrap:break-word;
}
.upload-file-name>i{
  display:none;
  margin-left:4px;
  color:rgba(0,0,0,0.7);
  cursor:pointer;
  pointer-events:auto;
  position:absolute;
}
.upload-file-name:hover i,
.upload-file-name>i:hover{
  display:inline-block;
  transition:color 0.25s ease-out;
}
.upload-file-name>i:hover{
  color:#D95C5C;
}

/* Image style */
#scrollUp {
  bottom: 20px;
  right: 20px;
  height: 38px;  /* Height of image */
  width: 38px; /* Width of image */
  background: url('/assets/top.png') no-repeat;
}

.atta-line{
  margin-bottom:8px;
  min-height:15px;
  border:2px dashed #ddd;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  padding:5px;
  min-width:200px;
  max-height:352px;
  overflow-y:scroll;
}
.attachment-item{
  margin-right:5px;
  cursor:pointer;
}
.attachment-sign{
  position:relative;
  width:60px;
  height:65px;
  background-position:center top;
  background-repeat:no-repeat;
}
.attachment-p{
  width:60px;
  word-break:break-all;
  word-wrap:break-word;
  margin-bottom:0px;
  margin-top:-1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size:13px;
}
.attachment-sign:hover .attachment-operate{
  display:block
}
.atta-image{
  background-image:url("/assets/atta-jpg.png")
}
.atta-doc{
  background-image:url("/assets/atta-doc.png")
}
.atta-pdf{
  background-image:url("/assets/atta-pdf.png")
}
.atta-excel{
  background-image:url("/assets/atta-excel.png")
}
.atta-rar{
  background-image:url("/assets/atta-rar.png")
}
.atta-zip{
  background-image:url("/assets/atta-zip.png")
}
.atta-default{
  background-image:url("/assets/atta-default.png")
}
.attachment-operate{
  position:absolute;
  bottom:0;
  background-color:black;
  opacity:0.6;
  width:100%;
  height:15px;
  display:none;
}
/*************************************************************  font color
*********************************************************************************************************/
.normal-blue{
  color:#5fa9da
}
.normal-gray{
  color:#777;
}
.blue-green{
  color:#55c8b4;
}
.bold{
  font-weight:bold
}
/*************************************************************  font format
*********************************************************************************************************/
p{
  margin:0 0 8px;
}
h2{
  font-family:"helve";
  font-size:33px;
  padding:30px 0;
  margin:0;
  letter-spacing:1px
}
i{
  pointer-events:none;
}
/*************************************************************  input\select format
*********************************************************************************************************/
input[type="text"],input[type="password"]{
  width:230px;
  padding:8px 5px;
  color:#555;
  border-radius:4px;
  border:1px solid #ddd;
  font-size:14px;
}
input[type="date"]{
  width:120px;
  padding:7px 5px;
  font-size:14px;
  color:#555;
  font-weight:lighter;
  border-radius:4px;
  border:1px solid #c8c8c8;
  margin:0;
}
textarea{
  color:#555;
  border-radius:4px;
  border:1px solid #ddd;
  padding:8px 5px;
  font-size:14px;
}
/*************************************************************  basic detail
*********************************************************************************************************/
a{
  text-decoration:none ;
  color:inherit
}
a:hover,a:focus{
  text-decoration:none ;
}
label,p,h1,h2,h3,h4,h5{
  cursor:default;
}
.pointer{
  cursor:pointer
}
/*************************************************************  position format
*********************************************************************************************************/
.text-center{
  text-align:center;
}
.hide{
  display:none
}
.inline{
  display:inline;
}
.inline-block{
  display:inline-block;
}
.block{
  display:block;
}
.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.relative{
  position:relative;
}
.absolute{
  position:absolute;
}
.fixed{
  position:fixed;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.wrap-word{
  word-wrap:break-word;
  word-break:break-all;
}
.table-center{
  display:table;
  margin:0 auto;
}
.hidden-x{
  overflow-x:hidden;
}
.hidden-y{
  overflow-y:hidden;
}
/*********************************************************************************************************  loading
*******************************************************************************************************************/
.loading{
  position:absolute;
  z-index:101;
  background:rgba(238,238,238,0.75);
  top:auto;
  transition:all 0.35s ease-out;
}
.loading p{
  text-align:center;
  margin:0;
  vertical-align:middle;
  font-size:35px;
  font-family:"helve";
  position:absolute;
  top:40%;
  left:0px;
  right:0px;
  color:rgba(0,0,0,0.5)
}
.loading p:after{
  content:url("/assets/loading_tea.png");
  opacity:0.6;
  position:relative;
  top:3px;
  left:6px;
}
/*********************************************************************************************************  上传文件
*******************************************************************************************************************/
.abstractblock{
  width:60%;
  .attachment-item{
    display:table;
    width:100%;
    font-size:12px;
    &:hover .attachment-item-remove{
      display:block;
    }
    &:after{
      @include after-clear;
    }
    .content,.remove{
      vertical-align: left;
      vertical-align:middle;
      display:table-cell;
    }
    .content{
      @include word-break;
      p{
        margin:2px 0 2px
      }
    }
    .remove{
      width:70px;
      padding-top:5px;
      padding-left:8px;
    }
    .attachment-item-remove{
      pointer-events:auto;
      display:none;
      &:hover{
        color:$red;
        display:block;
      }
    }
  }
}
/*********************************************************************************************************  通知
*******************************************************************************************************************/
.popModal{
  padding:5px 5px !important;
  .close{
    font-size:18px !important;
    right: 3px !important;
    top: 1px !important;
  }
  .popModal_content{
    margin:5px auto !important;
  }
}
.user-message-ul{
  padding-top:8px;
  li{
    padding-left:5px;
    margin-bottom:3px;
    a{
      position:relative;
      &:hover span{
        color:#777;
      }
      display:table;
      width:100%;
      span{
        font-size:12px;
        display:table-cell;
        @include word-break;
        &:first-of-type{

        }
        &:last-of-type{
          vertical-align:middle;
          width:20px;
          label{
            display:block;
            color:#fff;
            background:$alert-orange;
            $width:15px;
            text-align:center;
            line-height:$width + 2;
            width:$width;
            height:$width;
            @include border-radius-same($width);
            margin-left:3px;
            font-size:11px;
            position:relative;
            top:-1px;
          }

        }
      }
    }
  }
}

