/***************************************************** top **************************************************************/
.page-top{
    height:55px;
    background-color:#202020;
    border-bottom:2px solid #ddd;
}
.page-top>img{
    margin-top:9px;
    margin-left:14px;
}
.company-name{
    display:inline;
    color:white;
    font-size:18px;
    position:relative;
    top:12px;
    left:2px;
}
.top-tool{
    margin-right:15px;
    margin-top:8px;
}
.top-tool>a{
    padding:13px;
    padding:13px;
    border:1px solid #ddd;
    margin-right:6px;
    display:inline-block;
    cursor:pointer;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    margin-top:5px;
    /*background-image:url("../images/top-tool.png");*/
    background-image:url("/assets/top-tool.png");

    background-repeat:no-repeat;
}
.tool-setting{
    background-position:-3px -24px;
}
.tool-setting:hover{
    background-position:-29px -24px;
    border:1px solid #1abc9c;
}
.tool-help{
    background-position:-1px -47px;
}
.tool-help:hover{
    background-position:-28px -47px;
    border:1px solid #1abc9c;
}
.tool-user{
    background-position:-3px -1px;
    margin-left:20px;
}
.tool-user:hover{
    background-position:-29px -1px;
    border:1px solid #1abc9c;
}
ul.setting-navi{
    list-style-type: none;
    display:block;
    position:relative;
    right:-120px;
    top:50px;
}
ul.setting-navi>li{
    display:inline;
    margin-left:35px;
}
ul.setting-navi>li>a{
    color:white;
    font-size:21px;
    font-weight:lighter;
    letter-spacing:4px;
}
/***************************************************** navi **************************************************************/
.page-navi{
    background-color:white;
}
.main-navi{
    list-style: none;
    display:block;
    margin:0;
    padding:13px 0 9px;
}
.main-navi>li{
    display:inline;
}
.main-navi>li>a{
    color:#333;
    font-size:16px;
    font-weight:500;
    letter-spacing:2px;
    padding:17px 14px 15px;
    border-left:1px solid white;
    border-right:1px solid white;
}
.main-navi>li>a.main-navi-active{
    color:#2980b9;
    background-color:#f4f4f4;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.main-navi>li>a:hover{
    color:#2980b9;
}
.dropdown-menu > li > a.main-navi-dropitem{
    color:#333;
    font-size:15px;
    font-weight:200;
    letter-spacing:1px;
    padding-left:13px;
}
.dropdown-menu > li > a.main-navi-dropitem:hover{
    color:#2980b9;
    background-color:#f0f0f0 ;
    background-image:none;
}
.btn.btn-navi{
    font-size:17px;
    padding:8px 38px 8px;
    margin-right:20px;
    margin-top:5px;
}
b.caret{
    position:relative;
    top:5px;
    left:2px;
}
/***************************************************** sub-middle **************************************************************/
.sub-middle{
    height:35px;
    background-color:#f4f4f4;
    border-top:1px solid #ddd;
    box-shadow:0 1px 2px rgba(0,0,0,0.45);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.45);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.45);
}
.sub-middle-tool{
    margin-right:21px;
    margin-top:3px;
}
.sub-middle-tool>a{
    color:black;
    font-size:14px;
    margin-left:15px;
    cursor:pointer
}
.sub-middle-tool>a>i{
    position:relative;
    top:2px;
}
.sub-middle-tool>a:hover{
    color:#3498db
}
/***************************************************** middle **************************************************************/
.middle{
    padding-bottom:50px;
    padding-top:2px;
}
.left-category{
    width:170px;
    height:600px;
    border-right:1px solid #ddd;
}
.right-content{
    height:600px;
    transition:padding 0.5s ease 0s;
}
/***************************************************** 公用的功能区 **************************************************************/
.addBlock{
    width:100%;
    background-color:white;
    box-shadow:0px 8px 8px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:0px 8px 8px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow:0px 8px 8px rgba(0, 0, 0, 0.45);
    position:absolute;
    padding:5px 0px 20px;
}
/*****************************************************     Anaytics      **************************************************************/
/*content control*/
.content-condition{
    width:830px;
    margin:30px auto 50px;
}
.content-condition-part{
    width:400px;
}
.content-condition-part>p{
    margin-bottom:10px;
    font-size:21px;
}
.content-condition-part>select{
    margin-bottom:2px;
    width:260px;
    height:35px;
    padding:7px 6px ;
    font-size:15px;
    text-overflow:ellipsis;
}
.content-condition-part>label{
    margin:4px 0 6px;
    font-size:15px;
    display:block;
    text-align:center;
    color:#9eb7c6;
}
.content-condition-part.content-condition-rightpart{
    width:390px;
}

.content-condition-leftpart>select.conditionPart-entity{
    width:170px;
}
.content-condition-leftpart>select.conditionPart-group{
    width:90px;
    margin-right:5px;
}
.content-condition-leftpart>select{
    width:110px;

}
.content-condition-leftpart>span{
    margin:0px 7px;
    font-weight:bold;
    font-size:16px;
}
.content-condition-rightpart>input{
    width:150px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:2px;
    font-size:15px;
    height:18px;
    padding:7px 6px;
    cursor:default;
    background-color:white !important;
}
/*chart*/
.control-chart{
    width:70%;
    margin:0 auto;
    height:45px;
    background:white;
}
.btn.control-chart-btn{
    margin-left:10px;
    margin-top:9px;
    padding:3px 7px 0px;
    cursor:default;
}
.control-chart-btn.control-chart-btn-last{
    margin-right:38px;
    padding:3px 9px 0;
}
.btn.control-chart-btn.active{
    background-color:#F39C12 ;
    color:white;
    box-shadow:0 2px 0px #e67e22;
    -moz-box-shadow:0 2px 0px #e67e22;
    -webkit-box-shadow:0 2px 0px #e67e22;
}
.btn.control-chart-btn.active:hover{
background-color:#f8c169 !important;
box-shadow:0 2px 0px #F39C12;
-moz-box-shadow:0 2px 0px #F39C12;
-webkit-box-shadow:0 2px 0px #F39C12;
}
.analyze-chart{
   width:70%;
   margin:0px auto;
   height:350px;
}
.btn.analyze-btn{
    margin-right:20px;
    margin-top:5px;
}
/***************************************************** dashboard **************************************************************/
/*sub middle*/
.sub-middle.db-sub-middle{
    height:45px;
    margin-bottom:2px;
}
.sub-middle-tool{
    margin-top:8px;
    margin-left:-6px;
}
.db-add{
    padding:3px 3px 3px 25px;
    /*background:url("../images/add-db.png")no-repeat -6px 3px;*/
    background:url("/assets/add-db.png")no-repeat -6px 3px;
}
.db-add:hover{
    /*background:url("../images/add-db.png")no-repeat -6px -19px;*/
    background:url("/assets/add-db.png")no-repeat -6px -19px;
    color:#1ABC9C !important;
}
.sub-middle-tool>a.db-add{
    font-size:16px;
    color:#9d9d9d
}
/*choose db*/
.chooseChart-wrap{
    width:864px;
    margin:0 auto;
}
.choose-db-item{
    width:250px;
    height:200px;
    margin-right:50px;
    border:2px solid #ddd;
    border-radius:3px;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    /*background-image:url("../images/db-chart.png");*/
    background-image:url("/assets/db-chart.png");
    background-repeat:no-repeat;
    position:relative;
}
.choose-db-item:hover{
    border:2px solid #f39c12;
    color:#f39c12;
}
.choose-db-item>label{
    position:absolute;
    right:7px;
    bottom:-2px;
    display:inline;
}
.choose-db-item.db-chart-line{
    background-position:53px 31px;
}
.choose-db-item.db-chart-column{
    background-position:53px -175px
}
.choose-db-item.db-chart-pie{
    background-position:-155px 31px;
    margin-right:0
}
/*****************************************************     manage      **************************************************************/
ul.manage-group{
    list-style: none;
    font-size:15px;
    margin-left:14px;
    margin-top:13px;
    position:relative;
    right:-1px;
}
ul.manage-group>li{
    text-align:center;
    padding:9px 5px 9px 35px;
    border-bottom:1px solid #ddd;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:115px;
    transition:all 0.15s ease 0s;
}
ul.manage-group>li i{
    position: absolute;
    left:-5px;
    margin-left:5px;
    cursor:pointer;
}
ul.manage-group>li i.icon-pencil{
    left:15px;
}
ul.manage-group>li:hover i{
    display:block;
}
ul.manage-group>li>a:hover {
    color:#3498db;
}
ul.manage-group>li>a{
    padding:9px 0px;
    font-size:17px;
    color:#9d9d9d;
}
ul.manage-group>li.active{
    border-right:1px solid #f4f4f4;
}
ul.manage-group>li.active>a{
    color:#3498db;
    padding-left:25px;
}
.sub-middle.sub-middle-manage{
    height:60px;
}
.btn.manage-add-btn{
    padding:15px 45px 14px;
    margin-right:8%;
    margin-top:15px;
}
.manage-operate{
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    /*background-image:url("../images/manage-operate.png");*/
    background-image:url("/assets/manage-operate.png");
    cursor:pointer;
}
.manage-operate-edit{
    background-position:1px 2px;
}
.manage-operate-del{
    background-position:1px -39px;
}
.manage-operate-delivery{
    background-position:-31px 2px;
}
.wrap-add-manage{
    width:600px;
    margin:0 auto;
}
.wrap-add-manage-left{
    width:400px;
}
.wrap-add-manage-right{
    width:200px;
}

.is-calcu-check{
    position:relative;
    top:-5px;
}

.wrap-add-manage td{
    padding:2px 12px;
}
.wrap-add-manage-right>input,.wrap-add-manage-right>select{
    margin-bottom:18px;
}
/*************************    KPI     ******************************/
.manage-kpi{
    background-color:white;
    width:84%;
    margin:34px auto 5px;
    border-collapse:collapse;
}
.manage-kpi th{
    background-color:#f4f4f4;
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
}
.manage-kpi td{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:10px 5px;
    font-size:16px;
    word-break:break-all;
    word-wrap:break-word;
}
select.edit-kpiEntity-input{
    width:100px;
    position:relative;
    top:4px;
}
input.edit-kpiTarget-input{
    width:100px;
    position:relative;
    top:4px;
}
.creat-entity-block{
    padding:5px 8px;
    border:1px solid #ddd;
    background-color:white;
    width:150px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}
.creat-entity-block>p{
    margin:0px;
    display:inline;
    padding-left:33px;
}
.creat-entity-block>input{
    width:136px;
}
.is-calcu-type{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #ddd;
    padding:4px;
    width:246px;
}
select.calcuRelate-kpi{
    width:100px;
    float:left;
    margin-right:10px;
    margin-bottom:0px;
}
.calcuType-method-btn{
    margin-right:5px;
    padding:2px 8px;
}
.calcuType-input{
    width:150px;
    float:left;
    margin-top:19px;

}
.calcuType-clear{
    margin-top:24px;
    margin-left:9px;
}
.calcuInput-mark{
    position:relative;
    left:-225px;
    top:33px;
}
/*************************    user     ******************************/
.edit-userTarget-input{
    width:170px;
    position:relative;
    top:4px;
}
.nav.nav-tabs.manage-userTab{
    position:relative;
    left:19px;
    top:-10px;
    display:inline-block;
    margin-bottom:-53px;
}
.nav.nav-tabs.manage-userTab>li a{
    font-size:15px;
    padding:13px 21px 8px;
    color:#9d9d9d;
}
.nav.nav-tabs.manage-userTab>li a:hover{
    background:transparent;
    border-color:transparent;
    color:#5496c2
}
.nav.nav-tabs.manage-userTab>li.active a{
    background-color:#f4f4f4;
    border-color:#DDDDDD #DDDDDD transparent !important;
    color:#5496c2;
}
.btn.btn-addUser.btn-manageUser{
    top:19px;
}
/*************************    add user     ******************************/
.add-user-left{
    width:300px;
    padding:10px 25px;
    margin:55px auto;
}
.add-user-left>p{
    margin-bottom:1px;
}
.add-user-left>input{
    width:250px;
    margin-bottom:20px;
}
.add-user-left>select{
    width:265px;
    margin-bottom:20px;
}
.add-user-mark{
   position:absolute;
   right:50%;
    margin-right:-100px;
    width:200px;
}
.btn.btn-addUser{
    padding:7px 19px 6px;
    position:relative;
    top:12px;
    margin-left:14px;
}
/*************************    view     ******************************/
.view-block{
    width:300px;
    margin:69px 0px 0px 150px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:2px solid #ddd;
    float:left;
}
.view-block>p{
    text-align:center;
    cursor:pointer;
}
.view-block p:hover{
    background-color:#F39C12;
    color:white;
}
/*************************    delivery kpi     ******************************/
.delivery-part{
    width:400px;
    margin:0 auto 60px;
    padding:20px 50px;
    border-bottom:2px dashed #ddd;
}
.delivery-part select.delivery-entity{
    margin-top:7px;
    width:122px;
}
.delivery-part select.delivery-kpi{
    margin-top:8px;
    margin-left:6px;
}
.delivery-mykpiMark{
    font-size:21px;
    width:84%;
    margin:0 auto -26px;
    border-bottom:1px solid #ddd;
}
.my-kpi{
    width:40%;
    margin-left:6%;
    margin-top:20px;
}
.my-kpi>table{
    width:100%;
    background-color:white;
}
.my-kpi td{
    cursor:pointer;
    text-align:center;
    word-wrap:break-word;
    word-break:break-all;
}
.my-kpi-target{
    width:120px;
    position:relative;
    top:5px;
}

/***************************************************** kpi entry **************************************************************/
.entryKPI-intervalMark{
    font-size:19px;
    margin-left:18px;
    margin-top:20px;
}
.nav.nav-tabs.entry-nav-tabs{
    margin-bottom:0px;
    margin-top:10px;
    margin-left:130px;
}
.nav.nav-tabs.entry-nav-tabs>li>a{
    padding:10px 25px;
    font-size:16px;
    color:#9d9d9d;
}
.nav.nav-tabs.entry-nav-tabs>li.active>a{
    color:#5496c2;
}
.nav.nav-tabs.entry-nav-tabs>li>a:hover{
    color:#5496c2;
}
.entry-kpi-part{
    background-color:white;
    padding-bottom:180px;
    display:block;
    border-bottom:1px solid #ddd;
}
.show-weekOfYear{
    font-size:18px;
    position:relative;
    left:21px;
    top:12px;
}
.entry-btn{
    padding:15px;
    cursor:pointer;
    /*background-image:url("../images/arrow.png");*/
    background-image:url("/assets/arrow.png");
    background-repeat:no-repeat;
    position:relative;
    top:10px;
}
.entry-prev-btn{
    background-position:0px 8px;
    left:15px;
}
.entry-prev-btn:hover{
    background-position:-32px 8px;
}
.entry-next-btn{
    background-position:5px -33px;
    left:10px;
}
.entry-next-btn:hover{
    background-position:-25px -33px;
}
input.entry-kpi-date{
    position:relative;
    top:14px;
    left:14px;
    width:200px;
    cursor:pointer !important;
    background-color:white !important;
    font-size:16px;
}
.entry-selectQuarter{
    width:100px;
    position:relative;
    left:35px;
    top:14px;
}
/*kpi list*/
.entry-table{
    width:90%;
    margin:35px auto;
    border-collapse:collapse;
}
.entry-table tr{
    border-bottom:1px solid #ddd;
}
.entry-table tr th{
    color:#556d7c;
    padding:6px 3px;
    font-size:15px;
}
.entry-table tr td{
    padding:3px 5px;
    font-size:15px;
}
.entry-kpi-current{
    position:relative;
    top:4px;
    width:100px;
}
.week-picker{
    position:absolute;
    left:50px;
}

/***************************************************** setting right **************************************************************/
.setting-right{
    border-left:1px solid #E3E3E3;
    box-shadow:-2px 0px 13px rgba(0,0,0,0.5);
    width:260px;
    position:fixed;
    top:0;
    right:0;
    z-index:20;
    height:100%;
    background-color:white;
    padding:10px 20px;
}
.setting-right>.icon-remove{
    margin-left:-10px;
}
.user-info{
    margin-top:50px;
}
.user-info>p{
    font-size:16px;
    margin-bottom:1px
}
.user-info>p.user-name{
   text-align:center;
   font-size:30px;
   color:#5496c2;
    margin-bottom:20px;
}
.password-block{
    padding-bottom:30px;
    border-bottom:2px dashed #DDD;
}
.btn-logout{
    margin-left:90px;
    margin-top:40px;
}
/***************************************************** login 注册什么的 **************************************************************/
.login-sub-middle{
    background-color:#f4f4f4;
    border-top:1px solid #ddd;
    box-shadow:0 1px 2px rgba(0,0,0,0.45);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.45);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.45);
    padding:40px 10px;
}
.login-form{
    width:220px;
    margin:0 auto;
}
.error_explanation>h4{
    text-align:center
}
.error_explanation>ul{
    list-style:none;
    margin-left:0;
}
.error_explanation>ul li{
    text-align:center;
    color:#f39c12;
    word-break:break-all;
    word-wrap:break-word;

}