/***************************************************** top **************************************************************/
.page-top{
    height:55px;
    background-color:#272727;
    border-bottom:1px solid #ddd;
}
.page-top>img{
    margin-top:9px;
    margin-left:14px;
}
.company-name{
    display:inline;
    color:white;
    font-size:18px;
    position:relative;
    top:12px;
    left:2px;
}
.top-tool{
    margin-right:15px;
    margin-top:8px;
}
.top-tool>a{
    padding:13px;
    padding:13px;
    border:1px solid #ddd;
    margin-right:6px;
    display:inline-block;
    cursor:pointer;
    border-radius:13px;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    margin-top:5px;
    background-image:url("../images/top-tool.png");
    background-repeat:no-repeat;
}
.tool-setting{
    background-position:-3px -24px;
}
.tool-setting:hover{
    background-position:-29px -24px;
    border:1px solid #1abc9c;
}
.tool-help{
    background-position:-1px -47px;
}
.tool-help:hover{
    background-position:-28px -47px;
    border:1px solid #1abc9c;
}
.tool-user{
    background-position:-3px -1px;
    margin-left:20px;
}
.tool-user:hover{
    background-position:-29px -1px;
    border:1px solid #1abc9c;
}
ul.setting-navi{
    list-style-type: none;
    display:block;
    position:relative;
    right:-120px;
    top:50px;
}
ul.setting-navi>li{
    display:inline;
    margin-left:35px;
}
ul.setting-navi>li>a{
    color:white;
    font-size:21px;
    font-weight:lighter;
    letter-spacing:4px;
}
/***************************************************** navi **************************************************************/
.page-navi{
    background-color:white;
}
.main-navi{
    list-style: none;
    display:block;
    margin:0;
    padding:13px 0 9px;
}
.main-navi>li{
    display:inline;
}
.main-navi>li>a{
    color:#333;
    font-size:16px;
    font-weight:500;
    letter-spacing:2px;
    padding:17px 14px 13px;
    border-left:1px solid white;
    border-right:1px solid white;
}
.main-navi>li>a.main-navi-active{
    color:#1abc9c;
    background-color:#f4f4f4;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.main-navi>li>a:hover{
    color:#1abc9c;
}
.dropdown-menu > li > a.main-navi-dropitem{
    color:#556D7C;
    font-size:15px;
    font-weight:200;
    letter-spacing:1px;
    padding-left:13px;
}
.dropdown-menu > li > a.main-navi-dropitem:hover{
    color:#1abc9c;
    background-color:#f0f0f0 ;
    background-image:none;
}
.btn.btn-navi{
    font-size:17px;
    padding:8px 38px 8px;
    margin-right:20px;
    margin-top:5px;
}
b.caret{
    position:relative;
    top:5px;
    left:2px;
}
/***************************************************** sub-middle **************************************************************/
.sub-middle{
    height:35px;
    background-color:#f4f4f4;
    border-top:1px solid #ddd;
    box-shadow:0 1px 2px rgba(0,0,0,0.45);
}
.sub-middle-tool{
    margin-right:21px;
    margin-top:3px;
}
.sub-middle-tool>a{
    color:black;
    font-size:14px;
    margin-left:15px;
    cursor:pointer
}
.sub-middle-tool>a>i{
    position:relative;
    top:2px;
}
.sub-middle-tool>a:hover{
    color:#3498db
}
/***************************************************** middle **************************************************************/
.middle{
    padding-bottom:50px;
    padding-top:2px;
}
.left-category{
    width:200px;
    height:600px;
    border-right:1px solid #ddd;
}
.right-content{
    height:600px;
}
/***************************************************** content condition **************************************************************/
.content-condition{
    width:700px;
    margin:30px auto ;
}
.content-condition-part{
    width:250px;
}
.content-condition-part>p{
    margin-bottom:10px;
    font-size:21px;
}
.content-condition-part>select{
    margin-bottom:2px;
    width:260px;
    height:35px;
    padding:7px 6px ;
    font-size:15px;
    text-overflow:ellipsis;
}
.content-condition-part>label{
    margin:4px 0 6px;
    font-size:15px;
    display:block;
    text-align:center;
    color:#9eb7c6;
}
.content-condition-part.content-condition-rightpart{
    width:390px;
}
.content-condition-rightpart>input{
    width:150px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:2px;
    font-size:15px;
    height:18px;
    padding:7px 6px;
    cursor:default;
    background-color:white !important;
}
/***************************************************** chart **************************************************************/
.control-chart{
    width:70%;
    margin:0px auto;
    height:45px;
    background:white;
}
.btn.control-chart-btn{
    margin-left:10px;
    margin-top:9px;
    padding:2px 10px;
}
.control-chart-btn.control-chart-btn-last{
    margin-right:38px;
    padding:2px 12px;
}
.btn.control-chart-btn.control-btn-active{
    background-color:#5DADE2;
}
.analyze-chart{
   width:70%;
   margin:0px auto;
   height:350px;
}
/***************************************************** bottom **************************************************************/
.page-bottom{
    position:fixed;
    bottom:0;
    z-index:10;
    height:50px;
    box-shadow:0 1px 2px rgba(131, 162, 185, 0.4) inset;
    background-color:#F1F8F9;
}
.brand-id{
    font-family:"Trajan Pro";
    position:relative;
    top:11px;
    left:21px;
    color:#5496c2;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    font-size:26px;
}
.task-setting{
    position:relative;
    right:24px;
    top:9px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border:1px solid #ddd;
    background:url("../images/setting.png") no-repeat 3px 3px;
    padding:15px;
    cursor:pointer
}
.task-setting:hover{
    border:1px solid #9d9d9d;
    background:url("../images/settinghover.png") no-repeat 3px 3px;
}
.user-message{
    cursor:pointer;
    width:30px;
    height:30px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border:1px solid #ddd;
    background:url("../images/messageCenter.png") no-repeat 1px 3px;
    position:relative;
    right:39px;
    top:9px;
}
.user-message:hover{
    border:1px solid #9d9d9d;
    background:url("../images/messageCenterHover.png") no-repeat 1px 3px;
}
/***************************************************** setting right **************************************************************/
.setting-right{
    border-left:1px solid #E3E3E3;
    box-shadow:-2px 0px 13px rgba(0,0,0,0.5);
    width:300px;
    position:fixed;
    top:0;
    right:0;
    z-index:20;
    height:100%;
    background-color:white;
}