/********************************全局layout*****************************/
@font-face {
    font-family:"Open Sans";
    src: url("OpenSans-Regular.eot");
    src: local("OpenSans-Regular Regular"),
    local("OpenSans-Regular"),
    url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.ttf') format('truetype'),
    url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}
body{
    background-color:#f4f4f4;
    height:100%;
    /*font-family:'Open Sans','Calibri','Arial',sans-serif;*/
    font-family:"微软雅黑",'Arial';
    line-height:28px;
    cursor:default;
    color:#555;
    font-weight:500;
    transition: all 0.3s ease-in 0s;
}

label{
	cursor:default;
}

/********************************  格式调整   *****************************/
.no-margin{
    margin:0;
}
/******************************** 字相关的   ***************************/
text-center{
    align:center;
}
.weight-light{
    font-weight:500;
}
/*}font的颜色*/
.normal-black{
    color:black;
}
.normal-blue{
    color:#5496c2
}
.light-black{
    color:#555 !important;
}
.normal-gray{
    color:#9d9d9d;
}
.light-gray{
    color:#bdc3c7;
}
.light-orange{
    color:#F39C12 !important;
}
/********************************  控件   *****************************/
.tooltip{
    font-size:14px !important;
    opacity:1 !important;
}

.badge{
    padding-left:5px;
    padding-right:5px;
}
.badge.badge-important{
    background-color:#f44432;
}
.tooltip{
    font-size:15px;
}
a:hover,a:focus{
	text-decoration:none !important;
}
.pointer{
	cursor:pointer;
}
.wrap-word{
    word-wrap:break-word;
    word-break:break-all;
}
.icon-remove{
    cursor:pointer;
}
/*btn的样式*/
.btn{
    background-image: none !important;
    border: medium none;
    box-shadow: none;
    color: white;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.35s ease 0s;
    background-color:#ecf0f1;
    box-shadow:0 2px 0px #bdc3c7;
    -moz-box-shadow:0 2px 0px #bdc3c7;
    -webkit-box-shadow:0 2px 0px #bdc3c7;
    color:#333
}
.btn.btn-mini{
    padding:3px 6px 0px
}
.btn.btn-super-large{
    padding:25px;
}
.btn.btn-primary{
    background-color:#3498db;
    box-shadow:0 2px 0px #2980b9;
    -moz-box-shadow:0 2px 0px #2980b9;
    -webkit-box-shadow:0 2px 0px #2980b9;
    color:white !important;
}
.btn.btn-primary:hover{
    background-color:#5DADE2 !important;
}
.btn.btn-success{
    background-color:#1abc9c ;
    color:white;
    box-shadow:0 2px 0px #16a085;
    -moz-box-shadow:0 2px 0px #16a085;
    -webkit-box-shadow:0 2px 0px #16a085;
}
.btn.btn-success:hover{
    background-color:#2FE2BF ;
    box-shadow:0 2px 0px #1abc9c;
    -moz-box-shadow:0 2px 0px #1abc9c;
    -webkit-box-shadow:0 2px 0px #1abc9c;
}
.btn.btn-warning{
    background-color:#F39C12 ;
    color:white !important;
    box-shadow:0 2px 0px #e67e22;
    -moz-box-shadow:0 2px 0px #e67e22;
    -webkit-box-shadow:0 2px 0px #e67e22;
}
.btn.btn-warning:hover{
    background-color:#f8c169 !important;
    box-shadow:0 2px 0px #F39C12;
    -moz-box-shadow:0 2px 0px #F39C12;
    -webkit-box-shadow:0 2px 0px #F39C12;
}
.btn.btn-danger{
    background-color:#e74c3c ;
    color:white !important;
    box-shadow:0 2px 0px #c0392b;
    -moz-box-shadow:0 2px 0px #c0392b;
    -webkit-box-shadow:0 2px 0px #c0392b;
}
.btn.btn-danger:hover{
    background-color:#EC7063 !important;
    box-shadow:0 2px 0px #e74c3c;
    -moz-box-shadow:0 2px 0px #e74c3c;
    -webkit-box-shadow:0 2px 0px #e74c3c;
}
/*与position有关的*/
.relative{
	position:relative
}
.inline{
	display:inline;
}
.inline-block{
    display:inline-block
}

/***************************************************** wrap **************************************************************/
.wrap-page{
    min-width:990px;
    transition:all 5s ease-in 0;
}

/***************************************************** MessageBox **************************************************************/
.message-box{
	position:fixed;
	width:600px; 
	left:50%;
	top:30%;
	margin-left:-300px;
	z-index:99;
	background-color:white;
	box-shadow:2px 2px 2px #9d9d9d;
	-webkit-box-shadow:2px 2px 2px #9d9d9d;
	-moz-box-shadow:2px 2px 2px #9d9d9d;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:3px;
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}
.message-header{
	font-size:20px;
	margin-left:1px;
	margin-bottom:0px;
	margin-top:2px;
	padding:5px 26px; 
	position:relative;
	top:0px;
	left:-3px;
	background-position:-5px 6px;
	background-repeat:no-repeat;
}
.message-correct{
    /*background-image:url("../images/message-correct.png");*/
    background-image:url("/assets/message-correct.png");
    color:#468847;
}
.message-error{
    /*background-image:url("../images/message-wrong.png");*/
    background-image:url("/assets/message-wrong.png");
    color:#B94A48;
    background-position:-5px -2px;
}
.message-warning{
    /*background-image:url("../images/message-warning.png");*/
    background-image:url("/assets/message-warning.png");
    color:#C09853;
}
.message-normal{
	padding:3px !important;
}
.message-remove{
	margin-top:5px;
	margin-right:5px;
}
.message-heading{
	padding:7px;
	border-bottom:2px solid #eaedec;
}
.message-body{
	padding:11px 8px;
    font-size:18px;
	word-break:break-all;
	word-wrap:break-word;
}
.message-body p{
	color:#9d9d9d;
    margin-bottom:0px;
}
/********************************************************* 底部的装饰 ***************************************************/
.bottom-decoration{
	position:fixed;
	bottom:0;
	width:100%;
	height:46px;
	border-top:2px solid #e0e0e0;
    background-image:url('bottom-decoration.png');
    background-repeat:repeat-x;
    z-index:10;
}
.bottom-logo{
	margin-left:30px;
	margin-top:9px;
}
.bottom-p{
   position:relative;
   top:15px; 
}
.bottom-label-div{
	position:absolute;
	width:150px;
	left:50%;
	top:15px;
	margin-left:-75px;
	font-size:12px;
	cursor:default;
}
.hide-bottom{
	cursor:pointer;
	position:fixed;
	bottom:0px;
	right:0px;
	height:46px;
	border-top:2px solid #e0e0e0;
    background-image:url('bottom-decoration.png');
    background-repeat:repeat-x;
    width:40px;
    z-index:20;
}
.hide-bottom-icon{
	margin-left:15px;
	margin-top:15px;
}
/****************************************************** 登陆的样式 ******************************************************/
.wrap-login{
	padding:100px 250px;
	border-bottom:1px solid #ddd;
}
.login-block{
	width:220px;
}
.login-signup{
	width:200px;
	margin-top:50px;
}
.btn-login{
	margin-top:10px;
}
.login-title-block{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	/*background:#f8f8f8;*/
	padding:0px 0px 0px 25px;
	width:1025px;
	margin-left:-25px;
}
.login-title{
	margin-top:3px;
	margin-bottom:0;
}
.login-error{
	position:absolute;
	top:186px;
}
.login-inputPart{
	position:absolute;
	width:220px;
}
/****************************************************** 注册页的样式 ******************************************************/
.log-error{
	position:absolute;
	top:188px;
	
}
/****************************************************** 编辑账户的样式 ******************************************************/
.wrap-edit{
	width:220px;
	margin:100px auto;
	padding:15px 20px 25px;

}
.wrap-edit.wrap-edit-sub{
	margin:-70px auto;
	border:2px solid #ddd;
	border-radius:6px;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px;
}
.wrap-edit label{

	font-size:16px;
	margin:10px 0;
}
.user-name{
	padding-bottom:15px;
	border-bottom:2px dashed #ddd;
}
.user-password{
	padding-top:5px;
}
.btn-edit{
    margin-top:5px;
    margin-right:-13px;
}

.btn-edit-cancel{
	margin-top:10px;
}
/****************************************************** 头部的样式 ******************************************************/
.title{
	margin-top:4px;
	margin-bottom:10px;
}
.title-lead{
	top:1px;
	left:2px;	
}
.title-sub{
	top:17px;
	left:-114px;
	font-size:15px;
}
.language{
	margin-top:7px;
	border-bottom:none !important;
}
.language .dropdown-toggle{
	/*color:#9d9d9d !important;*/
}
.language>li{
	cursor:pointer
}
.language>li:hover{
	color:black;
}
.title-server{
	margin-top:24px;
	margin-right:12px;
}
/********************************nav*****************************/
.dropdown-menu{
	left:-84px;
}
.nav-ul{
	border-top:1px solid #ddd;
	padding-top:3px;
	border-bottom:1px solid #ddd;
	padding-bottom:3px;
}
.nav .dropdown-toggle .caret.down-user-info{
	border-bottom-color:black;
	border-top-color:black;
}
.nav-pills > li > a{
	color:black;
}
.nav-pills > li.user-item{
	float:right
}
.wzx-nav{
	margin-bottom:40px !important;
}
.nav-pills > li.message-center{
    float:right;
    margin-right:-5px;
}
.dropdown-mail{
    left:-136px;
}
.nav-pills > li > a.message-nav-a{
    background:url("../images/glyphicons-halflings.png") no-repeat -65px 9px;
    height:14px;
    padding-right:18px;
}
.message-center-alert{
    padding:5px;
    background-color:#f89406;
    position:absolute;
    margin-left:3px;
    margin-top:-3px;
    border-radius:30px;
}
.message-item-alert-long{
    position:relative;
    left:9px;
}
.message-item-alert-short{
    position:relative;
    left:23px;
}
/*btn size*/
.btn-wzx{
	padding:9px 28px 8px;
}
.btn-margin-right{
	margin-right:15px;
}
/*tab*/
.tab-content{
	padding:0 20px;
	/*height:697px;*/
	/*border-top:2px solid #ddd;
	border-right:2px solid #ddd;
	border-bottom:2px solid #ddd;
	border-radius:0 6px 6px 0;
	-moz-border-radius:0 6px 6px 0;
	-webkit-border-radius:0 6px 6px 0;*/
}
.font-margin-right{
	margin-right:10px;
}




/***********************************************************    slidebox
*****************************************************************************************************/
.slideBox{
    position:fixed;
    bottom:0px;
    width:860px;
    margin-left:-430px;
    left:50%;
    color:white;
    text-align:center;
    padding:12px 0 3px;
    font-size:15px;
    z-index:99;
}

.messageSuccess {
    background-color:#27ae60;
}

.messageFail {
    background-color:red;
}