/********************************************************************************************************* 分类系列
*******************************************************************************************************************/
.manage-left-menu[type="dashboard"] li:first-of-type{
    text-align:center;
    font-weight:lighter;
    font-size:25px;
    color:#5FA9DA;
    padding:28px 0 10px;
}
.manage-btn-group>a{
    padding:8px 15px;
}
/********************************************************************************************************* dashboard item
*******************************************************************************************************************/
.dashBoard-show{
    list-style-type: none;
}
.dashboard-moreDetail{
    padding:2px 3px;
    position:relative;
}
.dashboard-moreDetail>p{
    margin:0px;
    width:250px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size:16px;
    color:rgba(0,0,0,0.6);
}
.dashboard-moreDetail>i{
    display:absolute;
    right:2px;
    pointer-events:auto;
    color:rgba(0,0,0,0.6);
    transition:color 0.25s ease-out;
}
.dashboard-moreDetail>i:hover{
    color:rgba(0,0,0,0.9);
}