.dashboard-add-page{
    position:absolute;
    top:135px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:white;
    display:none;
    z-index:30;
}
/********************************************************************************************************* 子菜单
*******************************************************************************************************************/
.dashboard-add-sub-menu{
    width:100%;
    height:40px;
    background-color:#5688a9;
    box-shadow:0 -1px 1px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.35) inset;
    -webkit-box-shadow:0 -1px 1px rgba(0, 0, 0, 0.35) inset;
}
.dashboard-add-sub-menu ul{
    list-style-type: none;
    display:block;
    padding:8px 0 0 13px;
    margin:0px;
}
.dashboard-add-sub-menu ul>li{
    display:inline-block;
    cursor:pointer;
    margin-right:4px;
}
.dashboard-add-sub-menu ul>li:first-of-type{
    margin-right:10px;
}
.dashboard-add-sub-menu ul>li:first-of-type:hover a{
    color:rgba(0,0,0,0.6);
}
.dashboard-add-sub-menu ul>li:not(:first-of-type):hover{
    background-color:#3b627c
}
.dashboard-add-sub-menu ul>li.active{
    background-color:#3b627c
}
.dashboard-add-sub-menu ul>li:first-of-type a{
    padding:4px 5px;
}

.dashboard-add-sub-menu ul>li a{
    display:block;
    padding:4px 10px;
    font-size:13px;
    color:white;
}
/********************************************************************************************************* 左边aside
*******************************************************************************************************************/
.content-right-nav[name='dashboard-add']{
    width:200px;
    float:left;
    border-right:1px solid #dcdcdc;
    box-shadow:1px 0 4px rgba(68,68,68, 0.2);
    -webkit-box-shadow:1px 0 4px rgba(68,68,68, 0.2);
    -moz-box-shadow:1px 0 4px rgba(68,68,68, 0.2);
}

.content-right-nav[name='dashboard-add']>section.solid>h3{
    margin:15px 0 5px 10px;
    font-size:15px;
}
.content-right-nav[name='dashboard-add']>section.solid>p{
    font-size:11px;
    font-weight:500;
}
.content-right-nav[name='dashboard-add']>section.solid>a{
    margin-left:-62px;
}
/***************************************************** 左边aside
***************************************************************/
/*name*/
.dashboard-add-name>input{
    width:130px;
    padding:5px 4px;
    position:relative;
    left:50%;
    margin-left:-69px;
    font-size:12px;
}
/*type*/
.dashboard-add-type>ul{
    list-style-type: none;
    display:block;
    padding-left:10px;
    margin:0px 0 10px;
}
.dashboard-add-type>ul>li{
    display:inline-block;
    width:40px;
    margin-right:2px;
    height:40px;
    background-image:url("../images/dashboard-add-type.png");
    background-repeat:no-repeat;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    cursor:pointer;
    position:relative;
    transition:opacity 0.25s ease-out;
}
.dashboard-add-type>ul>li.active{
    opacity:1 !important;
}
.dashboard-add-type>ul>li:hover{
    opacity:1 !important;
}
.dashboard-add-type>ul>li:nth-of-type(1){
    background-position:center 0px;
    opacity:0.4;
}
.dashboard-add-type>ul>li:nth-of-type(2){
    background-position:center -47px;
    opacity:0.4;
}
.dashboard-add-type>ul>li:nth-of-type(3){
    background-position:center -95px;
    opacity:0.4;
}
.dashboard-add-type>ul>li:nth-of-type(4){
    background-position:center -144px;
    opacity:0.4;
}
.dashboard-add-type>ul>li:after{
    position:absolute;
    font-size:11px;
    color:rgba(0,0,0,0.9);
    width:40px;
    text-align:center;
    bottom:-14px;
}
.dashboard-add-type>ul>li:nth-of-type(1):after{
    content:"Line"
}
.dashboard-add-type>ul>li:nth-of-type(2):after{
    content:"Column"
}
.dashboard-add-type>ul>li:nth-of-type(3):after{
    content:"Pie"
}
.dashboard-add-type>ul>li:nth-of-type(4):after{
    content:"Scatter"
}
/********************************************************************************************************* 右边的草稿图
*******************************************************************************************************************/
.content-left-main[name='dashboard-add']{
    float:right;
}
.left-content-title[name='dashboard-add']{
    height:70px;
}



.db-chart-body{
    position:absolute;
    top:102px;
    bottom:10px;
    left:31px;
    right:10px;
    border-top: 1px dotted #DDDDDD;
    overflow-x: hidden;
    padding: 0;
    display:none;
}
.dash-add-condition>ul{
    float:right;
    padding:0;
    margin:0;
    list-style:none;
    display:block;
    padding-right:10px;
    display:none;
}
.dash-add-condition>ul>li{
    display:inline-block;
    width:90px;
    height:44px;
    border:1px solid #ddd;
    margin-left:-2px;
    /*background-image:url("../images/db-chart-type.png");*/
    background-image:url("/assets/db-chart-type.png");
    background-repeat:no-repeat;
    cursor:pointer;
}
.dash-add-condition>ul>li.line{
    background-position:8px 6px;
}
.dash-add-condition>ul>li.column{
    background-position:10px -44px;
}
.dash-add-condition>ul>li.pie{
    background-position:9px -93px;
}
.dash-add-condition>ul>li.scatter{
    background-position:9px -133px;
}
.dash-add-condition>ul>li.line:hover,.dash-add-condition>ul>li.line.active{
    background-position:8px -173px;
    border:1px solid #f5a133;
}
.dash-add-condition>ul>li.column:hover,.dash-add-condition>ul>li.column.active{
    background-position:10px -223px;
    border:1px solid #f5a133;
}
.dash-add-condition>ul>li.pie:hover,.dash-add-condition>ul>li.pie.active{
    background-position:9px -272px;
    border:1px solid #f5a133;
}
.dash-add-condition>ul>li.scatter:hover,.dash-add-condition>ul>li.scatter.active{
    background-position:9px -312px;
    border:1px solid #f5a133;
}
.dash-add-condition>input[type="text"]{
    padding:6px 8px;
    width:120px;
    margin-top:13px;
    margin-left:-5px;
    border:1px solid #5FA9DA !important;
    display:none;
    font-family:"open-sans";
}
/***************************************************** 切换时间
*****************************************************************/
.db-chart-interval-alternate{
    height:28px;
}
.db-control-chart-interval-group {
    list-style-type: none;
    display: block;
    margin: 0;
    border-right: 1px solid #ddd;
}
.db-control-chart-interval-group li {
    display: inline;
    border-width: 0px 0px 1px 1px;
    border-color: #ddd;
    border-style: solid;
    float: left;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease-out;
    cursor: pointer;
}
.db-control-chart-interval-group li a {
    display: block;
    width: 35px;
    height: 27px;
    text-align: center;
    font-size: 15px;
    line-height:27px;
    pointer-events:none;
}
.db-control-chart-interval-group>li.active>a {
    color: #f5a133;
}

.db-control-chart-interval-group li:hover {
    color: #f5a133;
}
/***************************************************** 图形
*****************************************************************/
.db-chart-container{
    position:absolute;
    top:28px;
    bottom:10px;
    left:0px;
    right:0px;
}