/********************************************************************************************************* 分类系列
*******************************************************************************************************************/
/*.manage-left-menu[type="dashboard"] li:first-of-type{*/
    /*text-align:center;*/
    /*font-weight:lighter;*/
    /*font-size:25px;*/
    /*color:#5FA9DA;*/
    /*padding:28px 0 10px;*/
/*}*/
/*.manage-btn-group>a{*/
    /*padding:8px 15px;*/
/*}*/
/********************************************************************************************************* main content
*******************************************************************************************************************/
.dashboard-content{
    height:100%;
    margin-top:-120px;
    background-color:white;
}

/********************************************************************************************************* dashboard item
*******************************************************************************************************************/

.dashBoard-show{
    list-style-type: none;
    padding-bottom:50px;
    margin:0px;
}
.dashBoard-show>li{
    border:1px solid #ddd;
    padding:0;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
}
.dashboard-moreDetail{
    padding:6px 7px;
    position:relative;
    border-bottom:1px solid #ddd;
    background-color:#EFF2F6;
    cursor:move;
}
.dashboard-moreDetail>p{
    margin:-3px 0 0;
    width:450px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size:16px;
    color:rgba(0,0,0,0.7);
}
.dashboard-moreDetail>i{
    position:absolute;
    top:5px;
    right:6px;
    pointer-events:auto;
    color:rgba(0,0,0,0.15);
    cursor:pointer;
    transition:color 0.35s ease-out;
}
.dashboard-moreDetail>i:hover{
    color:rgba(0,0,0,0.9);
}
.update-time{
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    position: absolute;
    right: 42px;
    top:6px;
}