.upload-kpi .download-btn {
    width: 140px;
}

.upload-kpi .upload-btn {
    width: 190px;
}

.panel-heading {
    background: #F2F2F2;
    display: flex;
}

.ui-tabs-nav .ui-tabs-anchor {
    outline: none;
}

.ui-tabs .ui-tabs-nav li {
    border: none;
    background: #fff;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-tabs-nav li.ui-tabs-active {
    border-bottom: 5px solid #FF7F00;
}

hr {
    background: #CDC5BF;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
    font-size: 12px;
}

#tabs-1 {
    overflow: auto;
}

.Search {
    display: flex;
    margin-top: 20px;
    height: 60px;
}

.Search > h3 {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 10px;
}

#kpi_date {
    display: flex;
    margin-left: 50%;
}

#kpi_date > input[type="button"] {
    height: 35px;

}

.entry-block {
    top: 5px;
    margin-right: 20px;
}

.entry-block > input[type="text"] {
    width: 180px;
    height: auto;
}

.NothingToShow {
    color: #e0e0e0;
    font: 60px sans-serif;
    text-align: center;
}