
.login-bg{
    position:absolute;
    top:0px;
    bottom:0;
    left:0;
    right:0;
    background:url("../images/login-bg2.jpg")no-repeat center black;
    /*background:url("/assets/login-bg2.jpg")no-repeat center black;*/
}
.log-btn{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 22px 7px;
    text-decoration: none;
    transition: background-color 0.35s ease 0s,color 0.35s ease 0s;
    font-family:"open-sans",Arial;
}
.log-btn:hover{
    background-color:rgba(0,0,0,0);
}
.login-caption{
    position:absolute;
    width:800px;
    margin-left:-400px;
    left:50%;
    top:13%;
    color:white;

}
.login-caption h3{
    font-size:70px;
    text-shadow:3px 2px 5px #444;
    padding-bottom:15px;
    border-bottom:3px solid white;
    margin-bottom:10px;
    font-family:"maven",Arial;
    text-align:center;
}

.login-caption p{
    font-weight:lighter;
    color:white;
    text-align:center;
    font-size:19px;
    text-shadow:2px 2px 2px #222;
    margin-bottom:30px;
    font-family:"open-sans",Arial;
}
.log-btn.login-recommend{
    background-color:transparent;
    display:table;
    margin:0px auto;
    padding:11px 27px;
    font-size:18px;
    font-family:"oprn-sans",Arial
}
.log-btn.login-recommend:hover{
    border-color:black;
    color:black;
}
.login-block{
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    background:rgba(0,0,0,0.85)
}
.login-operate{
    width:223px;
    margin:30px auto 0px;
}
.login-operate a{
    margin-right:-11px;
}
.signShow-block{
    width:350px;
    padding:10px;
    position:absolute;
    margin-left:-175px;
    left:50%;
    bottom:100px;
    background-color:rgba(255,255,255,0.9);
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}
.signShow-block dt{
    float:left;
    height:35px;
    line-height:38px;
    text-align:right;
    margin-right:10px;
    width:75px;
    margin-left:7px;
    color:#777;
    font-size:14px;
}
.signShow-block[special='sign-up'] dt:nth-of-type(3){
    line-height:16px;
    font-size:14px;
}
.signShow-block[special='sign-up'] dt:nth-of-type(3)>span{
    position:relative;
    left:-3px;
    top:2px;
    font-size:13px;
}
.signIn-block{
    height:250px;
}
.signIn-block>h3{
    color:#555;
}
.signIn-block[special='sign-up']{
    height:350px;
}

.login-btn{
    width:121px;
    margin-left:93px;
    background: none repeat scroll 0 0 rgba(56, 194, 109, 0.65);
    border: 2px solid rgba(56, 194, 109, 0.4);
    text-align:center;
}
.login-btn:hover{
    background-color:rgba(0,0,0,0);
    color:rgba(56, 194, 109, 0.65)
}
/*选择语言*/
.login-select-language{
    display:block;
    width:60px;
    position:absolute;
    top:40px;
    color:#fff;
    right:23px;
    text-align:center;
    cursor:pointer;
    transition:color 0.35s ease 0s;
}
.login-select-language:hover{
    color:rgba(255,255,255,0.7);
}
.login-select-language>i{
    margin-left:3px;
}
.login-select-language-menu{
    position:absolute;
    left:-999em;
    top:-100px;
    margin:0px;
    padding:5px 0 ;
    list-style-type:none;
    background:rgba(0,0,0,0.85)
}
.login-select-language-menu li{
    text-align:center;
    font-size:13px;
    padding:4px 14px;
    transition:color 0.25s ease-out;
    color:#fff;
}
.login-select-language-menu li:hover{
    color:rgba(255,255,255,0.7);
}