/********************************************************************************************************* 分类系列
*******************************************************************************************************************/
.manage-left-menu li:first-of-type{
    text-align:center;
    font-weight:lighter;
    font-size:22px;
    color:#5FA9DA;
    padding:32px 0 10px;
}