// Place all the styles related to the StorySets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basic";
@import "STYLE";
.story-set-index{
  height:calc(100% - 70px);
  height:-moz-calc(100% - 70px);
  height:-webkit-calc(100% - 70px);
  &:after{
    @include after-clear;
  }
  .left-part{
    box-sizing:border-box;
    float:left;
    height:100%;
    width:70%;
    position:relative;
    .area{
      width:90%;
      height:90%;
      position:relative;
      left:50%;
      margin-left:-45%;
      margin-top:30px;
      border:1px solid $layout-border-color;
      .header{
        height:20px;
        background:$nav-dark;
      }
      .title{
        background:#fff;
        height:100px;
        padding-top:20px;
        $font-color:#9d9d9d;
        //a:first-of-type{
        //  display:block;
        //  $width:35px;
        //  width:$width;
        //  height:$width;
        //  @include border-radius-same($width);
        //  border:1px solid $layout-border-color;
        //  text-align:center;
        //  line-height:$width;
        //  color:$font-color;
        //  margin:0px auto 0;
        //}
        p:first-of-type{
          text-align:center;
          color:$font-color;
          font-size:23px;
          a{
              display:inline-block;
              $width:25px;
              width:$width;
              height:$width;
              @include border-radius-same($width);
              border:1px solid $layout-border-color;
              text-align:center;
              line-height:$width;
              color:$font-color;
              margin:0px auto 0;
              font-size:13px;
            position:relative;
            top:-4px;
            i{
              position:relative;
              top:1px;
              left:1px;
            }
          }
        }
        a.btn{
          margin:5px auto 0;
          width:210px;
        }
      }
      .projects{
        height:calc(100% - 155px);
        height:-moz-calc(100% - 155px);
        height:-webkit-calc(100% - 155px);
        background:#fff;
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        overflow-y:auto;
        $margin-left:15px;
        $width:220px;
        $after-width:$margin-left * 2 + $width * 3;
        padding-left:calc(50% - 345px);
        padding-left:-moz-calc(50% - 345px);
        padding-left:-webkit-calc(50% - 345px);
        padding-right:calc(50% - 375px);
        padding-right:-moz-calc(50% - 375px);
        padding-right:-webkit-calc(50% - 375px);
        &:after{
          @include after-clear;
        }
        .item{
           float:left;
           width:$width;
          height:190px;
          margin:20px 0 0 $margin-left;
          border:1px solid rgba(0,0,0,0.1);
          cursor: pointer;
          &:hover{
            border:1px solid $blue;
          }
          &:nth-of-type(3n-2){
            margin:20px 0 0 0;
          }
          &:after{
            @include after-clear;
          }
          .left{
            box-sizing:border-box;
            float:left;
            width:60%;
            padding-left:20px;
            height:100%;
            p{
              cursor: pointer;
              word-wrap: break-word;
            }
            p:first-of-type{
              cursor:pointer;
              margin-top:38px;
              font-size:24px;
              margin-bottom:5px;
              line-height:24px;
            }
            p:last-of-type{
              cursor:pointer;
              font-size:12px;
              color:#9d9d9d;
              margin:0px;
            }
            overflow-y:hidden;

          }
          .right{
            box-sizing:border-box;
            float:left;
            width:40%;
            background:url(project-item.png) center 0px;
            height:100%;
          }
        }
      }
    }

  }
  .right-part{
    box-sizing:border-box;
    float:left;
    height:100%;
    width:30%;
    border-left:1px solid $layout-border-color;
    .area{
      box-sizing:border-box;
      height:50%;
      width:100%;
      padding:8px 6px 0;
      .title{
        font-size:20px;
        padding-top:16px;
        padding-bottom:5px;
        color:$nav-dark;
        border-bottom:1px solid rgba(0,0,0,0.3);
      }
      .item{
        display:table;
        width:100%;
        padding:10px 0px ;
        background:#fff;
        border-bottom:1px dashed rgba(0,0,0,0.2);
        &>p{
          font-size:12px;
          display:table-cell;
          padding:0px 5px;
          width:calc(100% - 120px);
          width:-moz-calc(100% - 120px);
          width:-webkit-calc(100% - 120px);
          @include word-break;
          &:first-of-type{
            vertical-align:middle;
            color:#666;
            a{
              display:block;
              &:first-of-type{
                color:#222;
              }
              .mark{
                color:$blue;
              }
            }
          }
          &:last-of-type{
            width:120px;
            text-align: right;
            padding-right:5px;
            font-size:11px;
            color:#999;
            vertical-align:bottom;
          }
        }
      }
    }

  }
}

//********************************************* new ****************************************//
.story-set-new{
  background:#fff;
  width:70%;
  margin:40px auto 0;
  height:70%;
  overflow-y:auto;
  border:1px solid rgba(0,0,0,0.2);
  &>p{
    padding:14px 16px;
    font-size:24px;
    color:#fff;
    background:$nav-dark;
    margin:0px;
  }
  .divide{
    height:15px;
    width:100%;
    background:$background-grey;
  }
  .form{
    p{
      font-size:13px;
      margin:0px;
      padding:10px 20px 0px;
      margin-bottom:5px;
      margin-top:10px;
    }
    input,textarea,select,.chosen-container{
      margin-left:20px;
      &:after{}
      @include after-clear;
    }
    input{
      width:210px;
    }
    textarea{
      width:600px;
      min-width:600px;
      max-width:600px;
      height:80px;
    }
    select{
      width:615px;
    }
    &>a{
      display:block;
      width:80px;
      padding:6px 9px;
      font-size:14px;
      float:left;
      margin-top:30px;
      &:nth-of-type(2){
        margin-left:0px;
      }
    }
  }
}
//********************************************* show ****************************************//
.story-set-show{
  height:calc(100% - 70px);
  height:-moz-calc(100% - 70px);
  height:-webkit-calc(100% - 70px);
  &:after{
    @include after-clear;
  }
  .left,.right{
    box-sizing: border-box;
    float:left;
    height:100%;
    overflow-y:auto;
  }
  .left{
    width:65%;
    .header{
      height:40px;
      position:relative;
      background:#eee;
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.6) 55%) #eee;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.6) 55%) #eee;
      a{
        position:relative;
        left:15px;
        top:8px;
        font-size:18px;
        color:#666;
        @include transition(color);
        &:hover{
          color:#222;
        }
      }
      p{
        position:absolute;
        text-align:center;
        margin:0px;
        left:0px;
        right:0px;
        top:0px;
        padding-top:8px;
        font-size:18px;
        pointer-events:none;
      }
    }
    .content{
      padding:16px 20px;
      &>p:first-of-type{
        font-size:21px;
        line-height:19px;
        margin:0px;
        @include word-break;
      }
      &>p:nth-of-type(2){
        font-size:13px;
        color:#777;
        margin-bottom:3px;
        @include word-break;
      }
      &>hr{
        background:#9d9d9d;
      }
      .story-partial{
        &>.chart{
          width:100%;
          margin-top:20px;
          height:405px;
          background:#fff;
          .chart-body{
            top:0px;
          }
        }
        &>a{
          color:$blue;
          font-size:13px;
          float:right;
          margin-top:15px;
          margin-right:10px;
          cursor:pointer;
        }
        &>.comment-area{
          clear:both;
          width:100%;
          background:#fff;
          position:relative;
          padding:10px 40px;
          box-sizing:border-box;
          top:8px;
          .form{
            width:100%;
            &:after{
              @include after-clear;
            }
            textarea{
              resize:none;
              width:calc(100% - 10px);
              width:-moz-calc(100% - 10px);
              width:-webkit-calc(100% - 10px);
              padding:5px;
            }
            .comment-submit-button{
              padding:6px 10px;
              float:right;
              margin:5px 0;
            }
          }
          ul.comment-content-list{
            li{
              display:table;
              table-layout:auto;
              position:relative;
              width:100%;
              border-bottom:1px dashed rgba(0,0,0,0.1);
              padding:8px 0px;
              p{
                font-size:13px;
                display:table-cell;
                a{
                  display:block;
                  color:#16ca9e;
                  font-size:12px;
                }
              }
              span{
                display:table-cell;
                width:120px;
                color:#9d9d9d;
                font-size:11px;
                vertical-align:bottom;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  .right{
    width:35%;
    border-left:1px solid $layout-border-color;
    .holder{
      width:100%;
      //background:#fff;
      height:90px;
      display:table;
      box-sizing:border-box;
      border-bottom:1px solid rgba(0,0,0,0.3);
      &>div{
        vertical-align: middle;
        display:table-cell;
      }
      .avatar{
        width:90px;
        position:relative;
        box-sizing:border-box;
        a{
          display:block;
          $width:60px;
          width:$width;
          height:$width;

          position:absolute;
          left:50%;
          top:50%;
          margin-left:- $width / 2;
          margin-top:- $width / 2;
          img{
            @include border-radius-same($width);
          }
        }
      }
      .title{
        padding:0px 10px;
        p{
          margin:0px;
          padding:3px 0px;
          font-size:13px;
          &:first-of-type{
            font-size:18px;
            border-bottom:1px solid rgba(0,0,0,0.1);
          }
        }
      }
      .btn-area{
        width:130px;
        .btn{
          font-size:12px;
          padding:6px 2px;
          margin:0px 5px;
        }
      }
    }
    .participate{
      height:calc(100% - 90px);
      height:-moz-calc(100% - 90px);
      height:-webkit-calc(100% - 90px);
      &>p{
        color:#777;
        font-size:16px;
        padding:8px 13px;
      }
      .item{
        display:table;
        background:#fff;
        border:1px solid rgba(0,0,0,0.1);
        width:96%;
        height:80px;
        margin:8px auto;
        cursor:pointer;
        &:hover{
          background:lighten($blue,35%);
        }
        &.active{
          background:lighten($blue,35%);
        }
        @include box-shadow(1px,1px,2px,rgba(0,0,0,0.4));
        &>div{
          cursor:pointer;
          vertical-align: middle;
          display:table-cell;
          box-sizing:border-box;
        }
        .avatar{
          cursor:pointer;
          width:80px;
          box-sizing:border-box;
          position:relative;
          a{
            display:block;
            $width:50px;
            width:$width;
            height:$width;

            position:absolute;
            left:50%;
            top:50%;
            margin-left:- $width / 2;
            margin-top:- $width / 2;
            img{
              @include border-radius-same($width);
            }
          }
        }
        .title{
          cursor:pointer;
          padding:0px 8px;
          p{
            cursor:pointer;
            margin:0px;
            @include word-break;
            font-size:13px;
            &:nth-of-type(1){
              padding:4px 0px;
              border-bottom:1px dashed rgba(0,0,0,0.2);
               &>span:nth-of-type(1){

               }
               &>span:nth-of-type(2){
                 font-size:11px;
                 color:#9d9d9d;
                 padding-left:5px;
               }
            }
            &:nth-of-type(2){
              font-size:15px;
              padding-bottom:8px;
            }
            &:nth-of-type(3){
              font-size:10px;
              color:$blue;
              span{
                padding-right:8px;
              }
            }
          }
        }
        .btn-area{
          width:100px;
          .btn{
            font-size:12px;
            padding:5px 10px;
          }
        }
      }
    }
  }
}