// Place all the styles related to the StorySets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basic";
.story-set-index{
  height:calc(100% - 70px);
  height:-moz-calc(100% - 70px);
  height:-webkit-calc(100% - 70px);
  &:after{
    @include after-clear;
  }
  .left-part{
    box-sizing:border-box;
    float:left;
    height:100%;
    width:70%;
    position:relative;
    .area{
      width:90%;
      height:90%;
      position:relative;
      left:50%;
      margin-left:-45%;
      margin-top:30px;
      border:1px solid $layout-border-color;
      .header{
        height:20px;
        background:$nav-dark;
      }
      .title{
        background:#fff;
        height:135px;
        padding-top:20px;
        $font-color:#9d9d9d;
        a:first-of-type{
          display:block;
          $width:35px;
          width:$width;
          height:$width;
          @include border-radius-same($width);
          border:1px solid $layout-border-color;
          text-align:center;
          line-height:$width;
          color:$font-color;
          margin:0px auto 0;
        }
        p:first-of-type{
          text-align:center;
          color:$font-color;
          font-size:23px;
        }
        a.btn{
          margin:15px auto 0;
          width:210px;
        }
      }
      .projects{
        height:calc(100% - 195px);
        height:-moz-calc(100% - 195px);
        height:-webkit-calc(100% - 195px);
        background:#fff;
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        overflow-y:auto;
        $margin-left:15px;
        $width:220px;
        $after-width:$margin-left * 2 + $width * 3;
        padding-left:calc(50% - 345px);
        padding-left:-moz-calc(50% - 345px);
        padding-left:-webkit-calc(50% - 345px);
        &:after{
          @include after-clear;
        }
        .item{
           float:left;
           width:$width;
          height:190px;
          margin:20px 0 0 $margin-left;
          border:1px solid rgba(0,0,0,0.1);
          cursor: pointer;
          &:hover{
            border:1px solid $blue;
          }
          &:nth-of-type(3n-2){
            margin:20px 0 0 0;
          }
          &:after{
            @include after-clear;
          }
          .left{
            box-sizing:border-box;
            float:left;
            width:60%;
            padding-left:20px;
            height:100%;
            p{
              @include word-break;
            }
            p:first-of-type{
              margin-top:38px;
              font-size:24px;
              margin-bottom:5px;
              line-height:24px;
            }
            p:last-of-type{
              font-size:12px;
              color:#9d9d9d;
              margin:0px;
            }
            overflow-y:hidden;

          }
          .right{
            box-sizing:border-box;
            float:left;
            width:40%;
            background:url(project-item.png) center 0px;
            height:100%;
          }
        }
      }
    }

  }
  .right-part{
    box-sizing:border-box;
    float:left;
    height:100%;
    width:30%;
    border-left:1px solid $layout-border-color;
    .area{
      box-sizing:border-box;
      height:50%;
      width:100%;
      padding:8px 6px 0;
    }

  }
}

//********************************************* new ****************************************//
.story-set-new{
  background:#fff;
  width:70%;
  margin:40px auto 0;
  height:70%;
  overflow-y:auto;
  &>p{
    padding:14px 16px;
    font-size:24px;
    color:$nav-dark;
    margin:0px;
  }
  .divide{
    height:15px;
    width:100%;
    background:$background-grey;
  }
  .form{
    p{
      font-size:13px;
      margin:0px;
      padding:10px 20px 0px;
      margin-bottom:5px;
      margin-top:10px;
    }
    input,textarea,select,.chosen-container{
      margin-left:20px;
      &:after{}
      @include after-clear;
    }
    input{
      width:210px;
    }
    textarea{
      width:600px;
      min-width:600px;
      max-width:600px;
      height:80px;
    }
    select{
      width:615px;
    }
    &>a{
      display:block;
      width:80px;
      padding:6px 9px;
      font-size:14px;
      float:left;
      margin-top:30px;
      &:nth-of-type(2){
        margin-left:0px;
      }
    }
  }
}