// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basic";
.create-story{
  height:calc(100% - 70px);
  height:-moz-calc(100% - 70px);
  height:-webkit-calc(100% - 70px);
   .left,.right{
      box-sizing:border-box;
      float:left;
      height:100%;
   }
   .left{
      width:30%;
     border-right:1px solid $layout-border-color;
     .header{
       height:45px;
       background:#eee;
       background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.6) 55%) #eee;
       background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.6) 55%) #eee;
       p{
         font-size:18px;
         padding:9px 0 0 10px;
         color:#777;
       }
     }
     p{

     }
   }
  .right{
    width:70%;
    position:relative;
  }
}