$blue:#5fa9da;
$blue-hover:#69aef5;
$red:#f75460;
$red-hover:#f59b9b;
$green:#0cb156;
$green-hover:transparentize($green,0.4);
$nav-dark:#353a46;
$golden-text:#f2c54a;
@mixin transition($element){
  transition:$element ease-out 0.25s
}
@mixin word-break{
  word-break:break-all;
  word-wrap:break-word;
}
@mixin border-radius-same($border){
  border-radius:$border;
  -moz-border-radius:$border;
  -webkit-border-radius:$border;
}
@mixin border-radius($lt,$rt,$rb,$lb){
  border-radius:$lt $rt $rb $lb;
  -moz-border-radius:$lt $rt $rb $lb;
  -webkit-border-radius:$lt $rt $rb $lb;
}
@mixin box-shadow($x,$y,$shadow,$color){
  box-shadow:$x $y $shadow $color;
  -moz-box-shadow:$x $y $shadow $color;
  -webkit-box-shadow:$x $y $shadow $color;
}
@mixin box-shadow-inset($x,$y,$shadow,$color){
  box-shadow:$x $y $shadow $color inset;
  -moz-box-shadow:$x $y $shadow $color inset;
  -webkit-box-shadow:$x $y $shadow $color inset;
}
@mixin text-shadow($x,$y,$shadow,$color){
  text-shadow:$x $y $shadow $color;
  -moz-text-shadow:$x $y $shadow $color;
  -webkit-text-shadow:$x $y $shadow $color;
}
@mixin text-overflow{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
@mixin clearFloat{
  content:"";
  display:block;
  clear: both;
}
@mixin box-sizing-border{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin after-clear{
  content:"";
  display:block;
  clear:both;
}
/*************************************************************  button style
*********************************************************************************************************/
.btn{
  display:block;
  text-align:center;
  background:#eee;
  transition: background-color 0.25s ease 0s,color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  -webkit-transition: background-color 0.25s ease 0s;
  background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.2) 55%) #eee;
  background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.2) 55%) #eee;
  cursor:pointer;
  padding:8px 8px;
  margin:0 20px;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  vertical-align:middle;
  color:rgba(0, 0, 0, 0.5);
  font-weight:lighter;
  &:hover{
    background:rgba(238,238,238,0.7);
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.5) 55%) #eee;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(221,221,221, 0.5) 55%) #eee;
    color:rgba(0,0,0,0.4)
  }
  & i{
    position:relative;
    top:0px;
    left:-2px
  }
  &.btn-danger{
    background:#f75460;
    color:white;
    &:hover{
      background:#f56969;
    }
  }
  &.btn-primary{
    background:#5fa9da;
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(95, 169, 218, 0.2) 55%) #5fa9da;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(95, 169, 218, 0.2) 55%) #5fa9da;
    color:#fff;
    &:hover{
      background:#69aef5;
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(105, 174, 245, 0.2) 55%) #69aef5;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(105, 174, 245, 0.2) 55%) #69aef5;
    }
  }
  &.btn-dark{
    background:#333;
    color:#fff;
    &:hover{
      background:rgba(0,0,0,0.6);
    }
  }
  &.btn-success{
    background:$green;
    color:#fff;
    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.2) 55%) $green;
    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.2) 55%) $green;
    &:hover{
      background:$green-hover;
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.5) 55%) $green;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(43, 207, 66, 0.5) 55%) $green;
    }
  }
  &.btn-warning{
    background:#eb9541;
    color:#fff;
    &.linear{
      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.2) 55%) #eb9541;
      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.2) 55%) #eb9541;
      &:hover{
        background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.5) 55%) #eb9541;
        background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(235, 149, 65, 0.5) 55%) #eb9541;
      }
    }
    &:hover{
      background:#f6af6a
    }
  }
  &.btn-func{
    background: $nav-dark;
    color:#fff;
//    background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(53,58,70, 0.2) 55%) $nav-dark !important;
//    background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(53,58,70, 0.2) 55%) $nav-dark !important;
//    &:hover{
//      background:lighten($nav-dark,15%);
//      background:-moz-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(53,58,70, 0.5) 55%) lighten($nav-dark,15%) !important;
//      background:-webkit-linear-gradient(top,rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 10%,rgba(53,58,70, 0.5) 55%) lighten($nav-dark,15%) !important;
//    }
  }
  &.btn-small{
    display:inline-block;
    padding:5px 26px;
    font-size:12px;
  }
}
/*************************************************************  ul
*********************************************************************************************************/
ul{
  padding:0px;
  margin:0px;
  list-style-type:none;
}
