/*************************************************************  font color
*********************************************************************************************************/
.normal-blue{
    color:#5496c2
}
/*************************************************************  font format
*********************************************************************************************************/
p{
    margin:0 0 8px;
}
/*************************************************************  input\select format
*********************************************************************************************************/
input[type="text"],input[type="password"]{
    width:230px;
    padding:8px 5px;
    font-size:14px;
    color:#555;
    font-weight:500;
    border-radius:4px;
    border:1px solid #ddd;
}
/*************************************************************  basic detail
*********************************************************************************************************/
a:hover,a:focus{
    text-decoration:none ;
}
/*************************************************************  position format
*********************************************************************************************************/
.text-center{
    text-align:center;
}
.inline{
    display:inline;
}
.inline-block{
    display:inline-block;
}
.block{
    display:block;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.wrap-word{
    word-wrap:break-word;
    word-break:break-all;
}
.table-center{
    display:table;
    margin:0 auto;
}
/*************************************************************  button style
*********************************************************************************************************/
.btn{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 22px 7px;
    text-decoration: none;
    transition: background-color 0.35s ease 0s;
    cursor:pointer;
}
.btn:hover{
    background:transparent;
}
.btn.btn-primary{
    background: none repeat scroll 0 0 rgba(57, 139, 194, 0.45);
    border: 2px solid rgba(57, 139, 194, 0.4);
}
.btn.btn-primary:hover{
    background: none repeat scroll 0 0 rgba(57, 139, 194, 0.1);
    color:#398bc2;
}
.btn.btn-success{
    background: none repeat scroll 0 0 rgba(56, 194, 109, 0.65);
    border: 2px solid rgba(56, 194, 109, 0.4);
}
.btn.btn-success:hover{
    background: none repeat scroll 0 0 rgba(56, 194, 109, 0.1);
    color:#38c26d;
}
.btn.btn-block{
    padding:7px 70px;
    display:table !important;
    margin:0 auto;
    font-size:16px;
}