.account-block{
  width:600px;
  height:350px;

  border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  margin:100px auto 0;
}
.account-block input{
  display:block;
  width:300px;
  margin:10px auto ;
  position:relative;
}
.account-block .finish-change{
  margin-left:385px;
  top:10px;
  position:relative;
  right:124px;
}
.account-block .user-name{
  padding-left:143px;
  margin-bottom:0px;
  font-size:16px;
}