<% if @user_session && @user_session.errors.any? %>
<div id="error_explanation" class="error_explanation ">
     <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
          <li>
               <%= msg %>
          </li>
          <% end %>
     </ul>
</div>
<% end %> 
<form action="/user_sessions/"  method="post">
<div class="log-input">
     <span><i class="icon-user"></i></span>
     <input id="user_session_email" name="user_session[email]" size="30" type="text" placeholder="<%= t 'auth.view.email'%>"/>
</div>
<div class="log-input">
     <span><i class="icon-lock"></i></span>
     <input id="user_session_password" name="user_session[password]" size="30" type="password"  placeholder="<%= t 'auth.view.pwd'%>"/>
</div> 
</form>
<a class="login-in-btn" onclick="document.forms[0].submit();"></a>