<section id="current-status">
  <section id="current-status-normal">
    <div class=" col-sm-12" id="current-status-header" style="background: #fefefe;border-bottom: 4px solid #000;">
      <div class="col-sm-3" style="border-right: 1px solid #ccc; text-align: center;">
        <label>Condition</label>
        <p style="padding-top: 10px; padding-bottom: 10px;">CycleTime Current Status Block Chart</p>
      </div>

      <div class="col-sm-3" style="text-align: center;">
        <label>Product Line</label>
        <br>
        <select id="vehicle-select" style="min-width: 150px;text-align: center; margin-top:5px;">
          <% Department.where(is_product_line: true).each do |p| %>
              <option value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
      </div>

      <div class="col-sm-3" style="padding-top: 10px;padding-bottom:10px;border-left: 1px solid #ccc; display: flex;">
        <div style="margin-top: 10px;">
          <label>近</label>
          <input type="number" style="width: 60px;height: 20px;" class="RecentTime" step="5">
          <label>分钟</label>
        </div>
        <button class="btn btn-primary RecentTimeBtn" style="width: 60px;">Search</button>
      </div>

      <div class="col-sm-3" style="text-align: center;border-left: 1px solid #ccc;">
        <label>Current time</label>
        <p id="current-clock" style="font-size: 20px;font-weight: bold;margin-top: 5px;"></p>
      </div>
    </div>

    <div class="col-sm-12">
      <ul class="pull-right control-chart-interval-group">
        <li interval="100" style="color:black;" datatype='true'>
          <a>D</a>
        </li>
        <li interval="300">
          <a>M</a>
        </li>
        <li interval="400">
          <a>Qr</a>
        </li>
        <li interval="500">
          <a>Y</a>
        </li>
      </ul>
    </div>
    <div id="data_container" class="data-container"></div>

    <div class="col-sm-12">
      <div class="download-groups" id="download">
        <div class="download-panel" style="display: none;margin-top: 20px;">
          <h4 style="font-size: 17px;color: #666; top: 15px;left: 10px;">
            Download Excel
          </h4>
          <div style="margin-top: 20px; display: inline-block">
            <form method="get" action="/departments/download_cycle_time_detail">
              <input type="hidden" name="product_line" id="product_line_id"/>
              <input type="text" readonly class="datetimepicker" id="start_time" name="start_time" title="Start Time">&emsp;
              <b>~</b> &emsp;
              <input type="text" readonly class="datetimepicker" id="end_time" name="end_time" title="End Time">
              <input type="submit" class=" btn-primary" style="width: 150px;height: 38px;" value="Download"/>
            </form>
          </div>
        </div>

        <div id="pop-download" style="text-align: center;width: 100%;
            color: white;cursor: pointer;height: 13px;background: #e5e5e5;position: relative;">
          <div class="my_icon">
            <i class="icon-chevron-up" style="color: #3e4452;" title="Close Panel"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "reports/current_status" %>
    <%= javascript_include_tag "reports/defects" %>
<% end %>

<script type="text/javascript">
  $('.RecentTime').keydown(function (e) {
    var ev = window.event || e;
    if (ev.keyCode == 13) {
      RecentTimeSearch();
    }
  });

  $('.RecentTimeBtn').click(function () {
    RecentTimeSearch();
  });

  function RecentTimeSearch() {
    var productLine = $('#vehicle-select').val();
    var datatype = 100;
    var now = new Date();
    var end_time = now.format("yyyy-MM-dd hh:mm:ss");
    var start_time = startRecentTime();
    loadData(productLine, datatype, start_time, end_time);
  }

  var IsLoading = false;

  $('#pop-download').click(function () {
    $('.download-panel').fadeToggle(0);
    initDownload();
  });

  function hideDownload() {
    $('.download-panel').hide();
    initDownload();
  }

  function initDownload() {
    var pre_time = new Date().format('yyyy-MM-dd').toString() + ' ' + '00:00:00';
    var current_time = new Date().format('yyyy-MM-dd hh:mm:ss');
    $('#start_time').attr('value', pre_time);
    $('#end_time').attr('value', current_time);
  }


  $(document).ready(function () {
    $('.download-panel').hide();
    /*时间刷新*/
    window.setInterval(function () {
      startTime();
    }, 500);

    if ($('#from_ipad').val()) {
      $('.control-chart-interval-group').parent().css({display: "none"});

      var productLine = $('#vehicle-select').val();
      var now = new Date();
      var end_time = now.format("yyyy-MM-dd hh:mm:ss");
      var start_time = startRecentTime();
      loadData(productLine, 100, start_time, end_time);
      hideDownload();
    } else {
      jeDate({
        dateCell: "#start_time",
        isinitVal: true,
        isTime: true, //isClear:false,
        minDate: "2014-09-19 00:00:00"
      });
      jeDate({
        dateCell: "#end_time",
        isinitVal: true,
        isTime: true, //isClear:false,
        minDate: "2014-09-19 00:00:00"
      });

      $('.control-chart-interval-group li').each(function () {
        $(this).click(function () {
          $('.control-chart-interval-group li').css({color: 'black', opacity: '0.3'});
          $('.control-chart-interval-group li').attr('datatype', 'false');
          var ReportMenuStatus = document.getElementById('report-menu').style.display;
          if (ReportMenuStatus == 'none') {
            show_loading(70, 0, 0, 10);
          } else {
            show_loading(70, 0, 0, 230);
          }
          $(this).css({opacity: '1'});
          $(this).attr('datatype', 'true');
          var Choose_Interval_Code = $(this).attr('interval');
          var ProductLine = $('#vehicle-select').val();
          var now = new Date();
          var end_time = now.format("yyyy-MM-dd hh:mm:ss");
          var start_time = startRecentTime();
          $.ajax({
            url: '/departments/cycle_kpi_data',
            type: 'get',
            data: {
              interval: Choose_Interval_Code,
              product_line: ProductLine,
              start_time: start_time,
              end_time: end_time
            },
            success: function (data) {
              remove_loading();
            },
            error: function () {
              console.log("Error");
            }
          });
        });
      });

      /*设置整体背景颜色*/
      var ClientHeight = $(document).height();
      $('#report-content').css({
        height: (ClientHeight - 70) + 'px',
        overflow: 'auto'
      });

      if (localStorage.box_msg) {
        var box_msg = localStorage.box_msg;
        $(".RecentTime").val(localStorage.recent_time);
        var productLine = box_msg.split('_')[1];
        var datatype = box_msg.split('_')[3];
        $('#vehicle-select option').each(function () {
          if (($(this).attr('value')) == productLine) {
            $(this).attr('selected', 'true');
          }
        });
        var now = new Date();
        var end_time = now.format("yyyy-MM-dd hh:mm:ss");
        var start_time = startRecentTime();
        console.log(start_time);
        console.log(end_time);
        loadData(productLine, datatype, start_time, end_time);
      } else {
        var productLine = $('#vehicle-select').val();
        var datatype = 100;
        var now = new Date();
        var end_time = now.format("yyyy-MM-dd hh:mm:ss");
        var start_time = startRecentTime();
        loadData(productLine, datatype, start_time, end_time);
      }
    }
  });

  function loadData(productLine, datatype, start_time, end_time) {
    if (productLine == null || datatype == null || start_time == null || end_time == null)
      return;

    if ($('#from_ipad').val()) {
      show_loading(70, 0, 0, 10);
    } else {
      var ReportMenuStatus = document.getElementById('report-menu').style.display;
      if (ReportMenuStatus == 'none') {
        show_loading(70, 0, 0, 10);
      } else {
        show_loading(70, 0, 0, 230);
      }
    }

    IsLoading = true;
    $('.control-chart-interval-group li').each(function (index) {
      if ($(this).attr('datatype') == 'true') {
        datatype = $(this).attr('interval');
      }
    });

    $("#product_line_id").val(productLine);

    hideDownload();
    $.ajax({
      url: '/departments/cycle_kpi_data',
      type: 'get',
      data: {
        product_line: productLine,
        interval: datatype,
        start_time: start_time,
        end_time: end_time
      },
      success: function (data) {
        $('.workstation').remove();
        if (data.length > 0) {
          for (var i = 0; i < data.length; i++) {
            var box_title_id = "Line_" + productLine + "_interval_" + datatype + "_box_" + data[i].id;
            if (data[i].value > data[i].target_max || data[i].value < data[i].target_min) {
              $('<div class="col-md-3 workstation"><div class="box">' +
                  '<div class="box-title" title=' + data[i].name + ' id=' + box_title_id + ' onmouseover="box_title_mouseover(' + box_title_id + ');" onmouseout="box_title_mouseout(' + box_title_id + ');"><span>' + data[i].name + '</span><i class="icon-list mark pull-right"></i></div><div style="display:inline-flex;width: 100%;" title="double click go to analytics" ondblclick="double_click(' + box_title_id + ');">' +
                  '<div class="box-content"><div class="left-number" style="color: #ff0000;">' + data[i].value + '</div>' +
                  '<div class="right-content"><div class="content"><strong>' + data[i].target_max + '</strong><p>Max Target</p></div>' +
                  '<div class="content"><strong>' + data[i].target_min + '</strong><p>Min Target</p></div></div></div></div></div></div>').appendTo('#data_container').ready(function () {
              });
            } else {
              $('<div class="col-md-3 workstation"><div class="box">' +
                  '<div class="box-title" title=' + data[i].name + ' id=' + box_title_id + ' onmouseover="box_title_mouseover(' + box_title_id + ');" onmouseout="box_title_mouseout(' + box_title_id + ');"><span>' + data[i].name + '</span><i class="icon-list mark pull-right"></i></div><div style="display:inline-flex;width: 100%;" title="double click go to analytics" ondblclick="double_click(' + box_title_id + ');">' +
                  '<div class="box-content"><div class="left-number"style="color: #3ed436;">' + data[i].value + '</div>' +
                  '<div class="right-content"><div class="content"><strong>' + data[i].target_max + '</strong><p>Max Target</p></div>' +
                  '<div class="content"><strong>' + data[i].target_min + '</strong><p>Min Target</p></div></div></div></div></div></div>').appendTo('#data_container').ready(function () {
              });
            }
            $('.download-panel').hide();
          }
        }
        remove_loading();
        IsLoading = false;
      },
      error: function (data) {
        alert("Network Error!");
      }
    });
  }

  $("#vehicle-select").change(function () {
    var productLine = $('#vehicle-select').val();
    localStorage.box_msg = "Line_" + productLine + "_interval_100" + "_box_0";
    localStorage.recent_time = $('.RecentTime').val();
    var now = new Date();
    var end_time = now.format("yyyy-MM-dd hh:mm:ss");
    var start_time = startRecentTime();
    loadData(productLine, 100, start_time, end_time);
  });

  setInterval(function () {
    if (!IsLoading) {
      var IntervalProductLine = $('#vehicle-select').val();
      var IntervalDataType;

      $('.control-chart-interval-group li').each(function () {
        if ($(this).datatype == "true") {
          IntervalDataType = $(this).attr('interval');
        } else {
          IntervalDataType = 100;
        }
      });

      var now = new Date();
      var end_time = now.format("yyyy-MM-dd hh:mm:ss");
      var start_time = startRecentTime();
      loadData(IntervalProductLine, IntervalDataType, start_time, end_time);
    }
  }, 120000);


  /*双击事件*/
  function double_click(ele) {
    var double_click_id = $(ele).attr('id');
    var ProductLine = double_click_id.split('_')[1];
    var Interval = double_click_id.split('_')[3];
    var BoxID = double_click_id.split('_')[5];

    var double_click_content = $(ele).html();
    var double_click_name = double_click_content.split('<i')[0];
    window.location.href = 'kpi_entries/analyse?view=';
  }

  /*查看历史记录数据*/
  function box_title_mouseover(ele) {
    var over_id = $(ele).attr('id');
    var ProductLine = over_id.split('_')[1];
    var Interval = over_id.split('_')[3];
    var BoxID = over_id.split('_')[5];
    var RecentTimeValue = $('.RecentTime').val();
    var over_id_content = $(ele).html();
    var over_id_name = over_id_content.split('<i')[0].split('<span>')[1].split('<')[0];
    $('#' + over_id).children('i').fadeIn(400);
    $('#' + over_id).click(function () {
      if (window.localStorage) {
        localStorage.box_msg = over_id;
        localStorage.box_name = over_id_name;
        localStorage.recent_time = RecentTimeValue;
        localStorage.pre_url = window.location.host + '/reports#current_status';
        window.location.href = 'reports#defects';
        location.reload();
      } else {
        alert('This browser does NOT support localStorage,please change browser.');
      }
    });
  }

  function box_title_mouseout(ele) {
    var over_id = $(ele).attr('id');
    $('#' + over_id).children('i').fadeOut(400);
  }
</script>

<style>
  /*Box Start*/
  .box {
    min-width: 230px;
    height: 165px;
    border-radius: 10px;
    /*border: 2px solid #9000ff;*/
    border: 2px solid deepskyblue;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .box-title {
    height: 50px;
    line-height: 50px;
    background: #545D70;
    color: #fefefe;
    font-size: 24px;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    display: flex;
    position: relative;
  }

  .box-title > span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .box-title > i {
    font-size: .8em;
    display: none;
    margin-top: 10px;
    margin-right: 5px;
    color: lightblue;
  }

  .box-content {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .left-number {
    float: left;
    font: 50px 'Helvetica';
    height: 100px;
    line-height: 100px;
    color: #3ed436;
    margin-left: 0;
    width: 50%;
    text-align: center;
  }

  .right-content {
    float: left;
    width: 45%;
    height: 100px;
    text-align: right;
    margin-right: 5px;
  }

  .content:first-child {
    margin: 5px 0 0 20px;
  }

  .content > strong {
    font: 24px 'Helvetica';
    color: #5c5c5c;
  }

  .content > p {
    font: 14px 'HelveticaCondensed';
    color: #bfbfbf;
  }

  /*Box End*/
  @font-face {
    font-family: 'HelveticaCondensed';
    src: url('/assets/HelveticaCondensed.eot');
    src: url('/assets/HelveticaCondensed.eot') format('embedded-opentype'),
    url('/assets/HelveticaCondensed.woff2') format('woff2'),
    url('/assets/HelveticaCondensed.woff') format('woff'),
    url('/assets/HelveticaCondensed.ttf') format('truetype'),
    url('/assets/HelveticaCondensed.svg#HelveticaCondensed') format('svg');
  }
</style>