<section class="current-status">
  <div class="header">
    <div class="left">
      <p>First Time Quality (FTQ) Summary Percentage</p>
      <p id=""></p>
      <p>Early shift</p>
    </div>
    <div class="right">
      <p></p>
      <select>
        <option>wangzixiao</option>

      </select>
    </div>
  </div>
</section>