<section id="current-status">
  <section id="current-status-normal">
    <div class=" col-sm-12" id="current-status-header" style="background: #fefefe;border-bottom: 4px solid #000;">
      <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
        <label>Condition</label>

        <p>CycleTime Current Status Block Chart</p>

        <p id="current-date" style="font-size: 12px;"></p>
      </div>

      <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
        <p>Product Line</p>
        <select id="vehicle-select" style="min-width: 200px;text-align: center;">
          <% Department.where(is_product_line: true).each do |p| %>
              <option value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
      </div>
      <div class="col-sm-4" style="text-align: center;">
        <label>Current time</label>

        <p id="current-clock" style="font-size: 30px;font-weight: bold;"></p>
      </div>
    </div>

    <div class="col-sm-12">
      <ul class="pull-right control-chart-interval-group">
        <!--  <li interval="90">
           <a>Hr</a>
         </li> -->
        <li interval="100" style="color:black;" datatype='true'>
          <a>D</a>
        </li>
        <!-- <li interval="200">
          <a>W</a>
        </li> -->
        <li interval="300">
          <a>M</a>
        </li>
        <li interval="400">
          <a>Qr</a>
        </li>
        <li interval="500">
          <a>Y</a>
        </li>
      </ul>
      <!-- <a class="pull-right btn btn-warning linear compare-current-btn">WorkingTime</a> -->
    </div>
    <div id="data_container" class="data-container"></div>
  </section>
</section>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "reports/current_status" %>
    <%= javascript_include_tag "reports/defects" %>
<% end %>

<script>
    $(document).ready(function () {
        $('.control-chart-interval-group li').each(function (index) {
            $(this).click(function () {
                $('.control-chart-interval-group li').css({color: 'black', opacity: '0.3'});
                $('.control-chart-interval-group li').attr('datatype', 'false');

                loading_show();
                $(this).css({opacity: '1'});
                $(this).attr('datatype', 'true');

                var Choose_Interval_Code = $(this).attr('interval');
                var ProductLine = $('#vehicle-select').val();
                $.ajax({
                    url: '/departments/entity_groups',
                    type: 'get',
                    data: {
                        interval: Choose_Interval_Code,
                        product_line: ProductLine
                    },
                    success: function (data) {
                        //Here can do something
                        loading_hide();
                    },
                    error: function () {
                        console.log("Error");
                    }
                });
            });
        });
//        Report.init("current_status");
        /*时间刷新*/
        window.setInterval(function () {
            $("#current-clock").text(format_time.current_time_clock());
        }, 700);

        /*设置整体背景颜色*/
//        var ClientHeight = document.documentElement.clientHeight;
        var ClientHeight = $(document).height();
        $('#report-content').css({
            height: (ClientHeight - 70) + 'px',
            overflow: 'auto'
        });

        loadData();
    });

    function loadData() {
        var productLine = $('#vehicle-select').val();
        var datatype = 100;

        $('.control-chart-interval-group li').each(function (index) {
            if ($(this).attr('datatype') == 'true') {
                datatype = $(this).attr('interval');
            }
        });

        loading_show();

        $.get('/departments/entity_groups', {product_line: productLine, interval: datatype}, function (data) {
            $('.workstation').remove();
            for (var i = 0; i < data.length; i++) {
                if (data[i].value > data[i].target_max || data[i].value < data[i].target_min) {
                    var box_title_id = "Line_" + productLine + "_interval_" + datatype + "_box_" + data[i].id;
                    $('<div class="col-md-3 workstation"><div class="box">' +
                            '<div class="box-title" title="click to go history" id=' + box_title_id + ' onmouseover="box_title_mouseover(' + box_title_id + ');" onmouseout="box_title_mouseout(' + box_title_id + ');">' + data[i].name + '<i class="icon-list mark pull-right"></i></div><div style="display:inline-flex;width: 100%;" title="double click go to analytics" ondblclick="double_click(' + box_title_id + ');"><div class="left-number" style="color: #ff0000;">' + data[i].value + '</div>' +
                            '<div class="right-content"><div class="content"><strong>' + data[i].target_max + '</strong><p>Max Target</p></div>' +
                            '<div class="content"><strong>' + data[i].target_min + '</strong><p>Min Target</p></div></div></div></div></div>').appendTo('#data_container').ready(function () {
                        loading_hide();
                    });
                } else {
                    $('<div class="col-md-3 workstation"><div class="box">' +
                            '<div class="box-title" title="click to go history" id=' + box_title_id + ' onmouseover="box_title_mouseover(' + box_title_id + ');" onmouseout="box_title_mouseout(' + box_title_id + ');">' + data[i].name + '<i class="icon-list mark pull-right"></i></div><div style="display:inline-flex;width: 100%;" title="double click go to analytics" ondblclick="double_click(' + box_title_id + ');"><div class="left-number"style="color: #3ed436;">' + data[i].value + '</div>' +
                            '<div class="right-content"><div class="content"><strong>' + data[i].target_max + '</strong><p>Max Target</p></div>' +
                            '<div class="content"><strong>' + data[i].target_min + '</strong><p>Min Target</p></div></div></div></div></div>').appendTo('#data_container').ready(function () {
                        loading_hide();
                    });
                }
            }
        }, 'JSON');
    }

    $("#vehicle-select").change(function () {
        loadData();
    });

    try {
        window.clearInterval(loadChartDataIntervalValue);
    } catch (e) {
        console.log(e);
    }

    //    var loadDataIntervalValue = window.setInterval("loadData()", 20000);

    /*20s 刷新太快*/
    var loadDataIntervalValue = window.setInterval("loadData()", 60000);

    /*双击事件*/
    function double_click(ele) {
        var double_click_id = $(ele).attr('id');
        var ProductLine = double_click_id.split('_')[1];
        var Interval = double_click_id.split('_')[3];
        var BoxID = double_click_id.split('_')[5];

        /* console.log(ProductLine);
         console.log(Interval);
         console.log(BoxID);
         */
        var double_click_content = $(ele).html();
        var double_click_name = double_click_content.split('<i')[0];
//        console.log(double_click_name);

        window.location.href = 'kpi_entries/analyse?view=';
    }

    /*查看历史记录数据*/
    function box_title_mouseover(ele) {
        var over_id = $(ele).attr('id');
        var ProductLine = over_id.split('_')[1];
        var Interval = over_id.split('_')[3];
        var BoxID = over_id.split('_')[5];

        var over_id_content = $(ele).html();
        var over_id_name = over_id_content.split('<i')[0];

        $('#' + over_id).children('i').fadeIn(400);

        $('#' + over_id).click(function () {
            if (window.localStorage) {
                localStorage.box_msg = over_id;
                localStorage.box_name = over_id_name;
                localStorage.pre_url=document.location.href; 
                window.location.href = 'reports#defects';
                location.reload();
            } else {
                alert('This browser does NOT support localStorage,please change browser.');
            }
        });
    }

    function box_title_mouseout(ele) {
        var over_id = $(ele).attr('id');
        $('#' + over_id).children('i').fadeOut(400);
    }

</script>

<style>
    /*Box Start*/
    .box {
        min-width: 230px;
        height: 165px;
        border-radius: 10px;
        /*border: 2px solid #9000ff;*/
        border: 2px solid deepskyblue;
        margin: 10px;
    }

    .box-title {
        height: 50px;
        line-height: 50px;
        background: #545D70;
        color: #fefefe;
        font-size: 24px;
        text-align: center;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        padding-left: 30px;
        cursor: pointer;
    }

    .box-title > i {
        font-size: .8em;
        display: none;
        margin-top: 10px;
        margin-right: 5px;
        color: lightblue;
    }

    .left-number {
        font: 50px 'Helvetica';
        height: 100px;
        line-height: 100px;
        color: #3ed436;
        margin-left: 0;
        width: 55%;
        text-align: center;
    }

    .right-content {
        width: 45%;
        height: 100px;
        text-align: right;
        margin-right: 5px;
    }

    .content:first-child {
        margin: 5px 0 0 20px;
    }

    .content > strong {
        font: 24px 'Helvetica';
        color: #5c5c5c;
    }

    .content > p {
        font: 14px 'HelveticaCondensed';
        color: #bfbfbf;
    }

    /*Box End*/

    @font-face {
        font-family: 'HelveticaCondensed';
        src: url('/assets/HelveticaCondensed.eot');
        src: url('/assets/HelveticaCondensed.eot') format('embedded-opentype'),
        url('/assets/HelveticaCondensed.woff2') format('woff2'),
        url('/assets/HelveticaCondensed.woff') format('woff'),
        url('/assets/HelveticaCondensed.ttf') format('truetype'),
        url('/assets/HelveticaCondensed.svg#HelveticaCondensed') format('svg');
    }
</style>
