<section class="current-status" id="current-status">
  <section id="current-status-normal">
    <div class=" col-sm-12" id="current-status-header">

      <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
        <label>Condition</label>

        <p>WorkingTime Summary Percentage</p>

        <p id="current-date" style="font-size: 12px;"></p>

        <!--<p>Early shift</p>
        <select id="vehicle-select" style="font-size: 12px;">
          <option value="P1">P1</option>
          <option value="P2">P2</option>
          <option value="P3">P3</option>
        </select>-->
      </div>

      <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
        <p>Early shift</p>
        <select id="vehicle-select" style="min-width: 200px;text-align: center;">
          <option value="滚筒内装配线">滚筒内装配线</option>
          <option value="滚筒箱体线">滚筒箱体线</option>
          <option value="滚筒总装线">滚筒总装线</option>
          <option value="滚筒包装线">滚筒包装线</option>
        </select>
      </div>
      <!--
            <div class="header-block">
              <label>Export</label>
              <a class="btn btn-success" id="quick-print">Quick print</a>
              <a class="btn btn-success" onclick="export_report_excel()">Excel</a>
            </div>

            <div class="header-block">
              <label>Setting</label>
              <a class="btn btn-primary" id="refresh">Refresh</a>
              <a class="btn btn-primary extra_func_btn" id="target" tag='target'>Target</a>
            </div>

            <div class="header-block">
              <label>Custom</label>
              <a class="btn btn-primary extra_func_btn" tag='all_defects'>All defects</a>
              <a class="btn btn-primary extra_func_btn" tag='key_defects'>Key station defects</a>
            </div>
      -->
      <div class="col-sm-4" style="text-align: center;">
        <label>Current time</label>

        <p id="current-clock" style="font-size: 30px;font-weight: bold;"></p>
      </div>
    </div>

    <div id="data_container" class="data-container">
    </div>
    <!--<%= render 'snap' %>-->
  </section>

  <section id="current-status-target" class='current-status-wrapper'>
    <div class="wrapper-header" id="target-wrapper-header">
      <a class="back-btn current-status-target-back-btn"><span>FTQ  Summary  Percentage</span></a>

      <p>Target setting</p>
    </div>
    <div id="target-setting-footer" class="target-setting-footer">
      <div class="footer-left">
        <p>Condition</p>

        <p>When Target higher than current FTQ</p>

        <p>When Target equal to current FTQ</p>

        <p>When Target lower than current FTQ</p>
      </div>
      <div class="footer-right" id="footer-right">
        <p>Color</p>
        <label>FTQ color setting</label>
      </div>
    </div>
    <div id="target_setting" class="wrapper-current-body"></div>
  </section>

  <section id="current-status-all-defects" class='current-status-wrapper'>
    <div class="wrapper-header">
      <a class="back-btn current-status-target-back-btn"><span>FTQ  Summary  Percentage</span></a>

      <p>All defects</p>
    </div>
    <div class="wrapper-current-body">
      <div id="all_defects" class="data_container"></div>
    </div>
  </section>
  <section id="current-status-key-defects" class='current-status-wrapper'>
    <div class="wrapper-header">
      <a class="back-btn current-status-target-back-btn"><span>FTQ  Summary  Percentage</span></a>

      <p>Key station defects</p>
    </div>
    <div class="wrapper-current-body">
      <div id="key_defects" class="data_container"></div>
    </div>
  </section>
</section>
<!--

<div id="current_status_loader" class="current-status-pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 10 60" preserveAspectRatio="none">
    <path d="M30,30 50,30 50,30 30,30 Z"/>
  </svg>
</div>&lt;!&ndash; /pageload-overlay &ndash;&gt;
-->

<!--
<% content_for :javascript_includes do %>
    <%= javascript_include_tag "reports/current_status" %>
    <%= javascript_include_tag "reports/defects" %>
<% end %>-->

<script>
    $(document).ready(function () {
//        Report.init("current_status");
        /*时间刷新*/
        window.setInterval(function () {
            $("#current-clock").text(format_time.current_time_clock());
        }, 700);

        /*设置整体背景颜色*/
        var ClientHeight = document.documentElement.clientHeight;
        $('#data_container').css({
            height: (ClientHeight - 100) + 'px'
        });

        loadData();
    });

    function loadData() {
        var productLine = $('#vehicle-select').val();
        console.log(productLine);
        loading_show();
        $.get('/departments/entity_groups', {product_line: productLine}, function (data) {
            console.log(data);
            $('.workstation').remove();
            for (var i = 0; i < data.length; i++) {
                $('<div class="col-md-3 workstation"><div class="box">' +
                        '<div class="box-title">' + data[i].name + '</div><div style="display:inline-flex;width: 100%;"><div class="left-number">' + data[i].value + '</div>' +
                        '<div class="right-content"><div class="content"><strong>' + data[i].target_max + '</strong><p>Max Target</p></div>' +
                        '<div class="content"><strong>' + data[i].target_min + '</strong><p>Min Target</p></div></div></div></div></div>').appendTo('#data_container').ready(function () {
                    loading_hide();
                });
            }
        }, 'JSON');
    }
    $("#vehicle-select").change(function () {
        loadData();
    });

    window.setInterval("loadData()", 20000);
    var loading;
    function loading_show() {
        loading = new SVGLoader(document.getElementById('preloader'), {speedIn: 100});
        $(".pageload-overlay svg").css('left', '0px');
        $(".pageload-overlay svg").css('top', '140px');
        loading.show();
    }

    function loading_hide() {
        $('#preloader').remove();

        $('<div id="preloader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none"><path d="M30,30 50,30 50,30 30,30 Z"/></svg></div>').appendTo('body').ready(function () {
        })
    }
</script>

<style>
    .background {
        margin-top: 10px;
        background: #000;
        border-radius: 20px;
        min-width: 1200px;
    }

    /*Box Start*/
    .box {
        min-width: 230px;
        height: 160px;
        border-radius: 10px;
        /*border: 2px solid #9000ff;*/
        border: 2px solid deepskyblue;
        margin: 10px;
    }

    .box-title {
        height: 50px;
        line-height: 50px;
        background: #545D70;
        color: #fefefe;
        font-size: 24px;
        text-align: center;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    .left-number {
        font: 50px 'Helvetica';
        height: 100px;
        line-height: 100px;
        color: #3ed436;
        margin-left: 0;
        width: 55%;
        text-align: center;
    }

    .right-content {
        width: 45%;
        height: 100px;
        text-align: right;
        margin-right: 5px;
    }

    .content:first-child {
        margin: 5px 0 0 20px;
    }

    .content > strong {
        font: 24px 'Helvetica';
        color: #ffffff;
    }

    .content > p {
        font: 14px 'HelveticaCondensed';
        color: #bfbfbf;
    }

    /*Box End*/
</style>