<div id="data_container" class="data_container" style="height:500px"></div>
<a class="btn btn-success btn_excel" onclick="export_report_chart_excel()">Excel</a>
<script>
  $(document).ready(function(){
      Report.init("daily_ftq");
  });
</script>