<section class="daily_dpv">
  <div class="left">
    <div id="chart_dpv_one" class="chart_dpv_one"></div>
    <div id="data_container" class="data_container"></div>
    <div id="chart_dpv_two" class="chart_dpv_two"></div>
  </div>
  <div class="right">
    <select multiple class="chosen-select" data-placeholder="Model" id="deffect-model">
    </select>
    <select multiple class="chosen-select" data-placeholder="Phase" id="deffect-phase">
    </select>
    <select multiple class="chosen-select" data-placeholder="Deffect Date" id="deffect-date">
    </select>
    <input id="retrieve-data" type="button" value="Retrieve Data"/>

  </div>
</section>

<a class="btn btn-primary" onclick="export_report_excel()">Excel</a>
<script>
  $(document).ready(function(){
      Report.init("daily_dpv");
  })
</script>