<section class="daily_dpv">
  <div class="left">
    <div id="chart_dpv_one" class="chart_dpv_one"></div>
    <div id="chart_dpv_two" class="chart_dpv_two"></div>
  </div>
  <div class="right">
    <div class="condition">
      <p>Model</p>
      <select multiple class="chosen-select" id="deffect-model">
      </select>
      <p>Phase</p>
      <select multiple class="chosen-select" id="deffect-phase">
      </select>
      <p>Deffect Date</p>
      <select multiple class="chosen-select" id="deffect-date">
      </select>
      <input id="retrieve-data" type="button" value="Retrieve Data"/>
    </div>

    <div id="data_container" class="data_container"></div>
  </div>
</section>

<a class="btn btn-primary" onclick="export_report_excel()">Excel</a>
<script>
  $(document).ready(function(){
      Report.init("daily_dpv");
  })
</script>