<div class="header" id="daily-ftq-header">
  <div class="col-sm-12" id="current-status-header" style="background: #fefefe;border-bottom: 4px solid #000">
    <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
      <label>Condition</label>

      <p>CycleTime Detail Column Chart</p>

      <p id="current-date" style="font-size: 12px;"></p>
    </div>

    <div class="col-sm-4" style="padding-top: 10px;border-right: 1px solid #ccc;">
      <p>Product Line</p>
      <select id="vehicle-select" style="min-width: 200px;text-align: center;">
        <% Department.where(is_product_line: true).each do |p| %>
            <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select>
    </div>

    <div class="col-sm-4" style="text-align: center;">
      <label>Current time</label>

      <p id="current-clock" style="font-size: 30px;font-weight: bold;"></p>
    </div>
  </div>
</div>

<div class="clearfix chart-interval-alternate" id="chart-interval-alternate">
  <ul class="pull-right control-chart-interval-group">
    <li interval="100" style="color: black;">
      <a>D</a>
    </li>
    <li interval="300">
      <a>M</a>
    </li>
    <li interval="400">
      <a>Qr</a>
    </li>
    <li interval="500">
      <a>Y</a>
    </li>
  </ul>
</div>

<!--chart-->
<div id="charts_containers" style="margin-top: 60px;min-height:300px;"></div>

<hr style="border-bottom: 4px solid #000;">

<!--table-->
<div id="data_chartcontainer" class="data_container" style="margin-top: 20px;">
  <table class="table table-bordered table-hover">
    <thead>
    <tr class="thead-tr">
    </tr>
    </thead>
    <tbody class="tbody-tr">
    <tr class="tbody-target-min">
    </tr>
    <tr class="tbody-value">
    </tr>
    <tr class="tbody-target-max">
    </tr>
    </tbody>
  </table>
</div>

<style>
  .table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
    background: white;
  }
</style>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "reports/daily_ftq" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  daily_ftq.init();

  $("#vehicle-select").change(function () {
    var productLine = $('#vehicle-select').val();
    localStorage.box_msg = "Line_" + productLine + "_interval_100" + "_box_0";
    loadChartData(productLine, 100);
  });
</script>