<section class="daily_dpv">
  <div class="left">
    <div id="data_container" style="height:500px;background-color:white;"></div>
  </div>
  <div class="'right">
    <select multiple class="chosen-select" data-placeholder="Model" id="deffect-model">
    </select>
    <select multiple class="chosen-select" data-placeholder="Phase" id="deffect-phase">
    </select>
    <select multiple class="chosen-select" data-placeholder="Deffect Date" id="deffect-date">
    </select>
    <input type="button" value="Retrieve Data" onclick="Grid.filter()"/>
  </div>
</section>

<a class="btn btn-primary" onclick="export_report_excel()">Excel</a>
<script>
  $(document).ready(function(){
      Report.init("daily_dpv");
  })
</script>