<section class="current-status">
  <div class="header">
    <div class="left">
      <p>First Time Quality (FTQ) Summary Percentage</p>
      <p id="current-date"></p>
      <p>Early shift</p>
    </div>
    <div class="right">
      <p><span>Current time:</span><span id="current-clock"></span></p>
      <select id="vechile-select">
        <option>Vehicle_1</option>
        <option>Vehicle_2</option>
        <option>Vehicle_3</option>
      </select>
    </div>
  </div>
  <div id="data_container" class="data-container" ></div>

</section>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "dhtmlxdataview" %>
    <%= javascript_include_tag "reports/data-view" %>
    <%= javascript_include_tag "reports/current_status" %>
    <%= javascript_include_tag "reports/data-current-status" %>
<% end %>