<div>
  <h1>All Deffects</h1>
  <div id="gridbox" style="width:600px; height:250px; background-color:white;"></div>
</div>
<div width="500px">
  <select multiple class="chosen-select" data-placeholder="Model" id="deffect-model">
  </select>

  <select multiple class="chosen-select" data-placeholder="Phase" id="deffect-phase">
  </select>
  <select multiple class="chosen-select" data-placeholder="Deffect Date" id="deffect-date">
  </select>
</div>
<div>
  <h1>Group By</h1>
  <div id="gridbox-grouped" style="width:600px; height:250px; background-color:white;"></div>
</div>

<% content_for :javascript_includes do%>
    <%= javascript_include_tag "dhtmlxgrid"%>
    <%= javascript_include_tag "func-module/chosen"%>
    <%= javascript_include_tag "reports/grid"%>
    <%= javascript_include_tag "reports/grideData"%>
<%end%>