<div class="report-menu">
<section>
  <div class="header">
    <p>Report Center</p>
  </div>
  <ul>
    <p>Quality Gate</p>
    <li><a class="active"><i class="icon-adjust mark"></i> Current status<i class="icon-chevron-right indicate"></i></a></li>
    <li><a><i class="icon-columns mark"></i> Sumary report<i class="icon-chevron-right indicate"></i></a></li>
    <li><a><i class="icon-list mark"></i> Station data<i class="icon-chevron-right indicate"></i></a></li>
    <li><a><i class="icon-screenshot mark"></i> Tracking report<i class="icon-chevron-right indicate"></i></a></li>
    <li><a><i class="icon-remove-sign mark"></i> Defects<i class="icon-chevron-right indicate"></i></a></li>
    <li><a><i class="icon-dashboard mark"></i> Vehicle information<i class="icon-chevron-right indicate"></i></a></li>
  </ul>
  <a class="btn btn-primary share">Share to discussion</a>
  <a class="btn btn-success snap">Snap shot</a>
</section>
</div>