<style type="text/css">
  .table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
    background: white;
    border: none;
  }

  .table > thead > tr > th {
    background: skyblue;
    color: white;
    font-weight: bold;
  }

  .table > thead > tr > th:first-child {
    border-top-left-radius: 10px;
  }

  .table > thead > tr > th:last-child {
    border-top-right-radius: 10px;
  }
</style>

<div class="col-sm-12 scram-table" style="margin-top: 10px; overflow: auto;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Station</th>
      <th>Index</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Wait Time ( S )</th>
    </tr>
    </thead>
    <tbody class="scram_tbody"></tbody>
  </table>
</div>
<script type="text/javascript">
  var ClientHeight = document.documentElement.clientHeight;
  $('.scram-table').css({height: (ClientHeight - 80) + 'px'});

  GetScramData(function (data) {
    var ScramData = data;
    for (var i = 0; i < ScramData.length; i++) {
      var backgroundColor = "#f2f2f2";
      var WorkStation = ScramData[i];
      var WorkStationID = WorkStation.id;
      var WorkStationName = WorkStation.name;
      var WorkStationCode = WorkStation.code;
      var WorkStationScramValue = WorkStation.scram_value;

      if (WorkStationScramValue.length == 0) {
        $("<tr style='border-bottom: 1px solid skyblue;'><td style='border-right: 1px solid skyblue;line-height: " + WorkStationScramValue.length * 28 + "px;' rowspan=" + WorkStationScramValue.length + ">" + WorkStationName + "</td><td>0</td><td>  </td><td></td>  <td>  </td></tr>").appendTo(".scram_tbody").ready(function () {
        });
      } else {
        $("<tr style='border-bottom: 1px solid skyblue;'><td style='border-right: 1px solid skyblue;font-size: 2em; background:" + backgroundColor + "; line-height: " + WorkStationScramValue.length * 28 + "px;' rowspan=" + WorkStationScramValue.length + ">" + WorkStationName + "</td><td>1</td><td>" + WorkStationScramValue[0].start_time.split(" ")[1] + "</td><td>" + WorkStationScramValue[0].end_time.split(" ")[1] + "</td><td>" + WorkStationScramValue[0].wait_time + "S</td></tr>").appendTo(".scram_tbody").ready(function () {
        });
      }
      if (WorkStationScramValue.length > 1) {
        for (var j = 1; j < WorkStationScramValue.length; j++) {
          var WorkStationScramValueID = WorkStationScramValue[j].id;
          var WorkStationScramValueStartTime = WorkStationScramValue[j].start_time.split(" ")[1];
          var WorkStationScramValueEndTime = WorkStationScramValue[j].end_time.split(" ")[1];
          var WorkStationScramValueWaitTime = WorkStationScramValue[j].wait_time;

          $("<tr style='border-bottom: 1px solid skyblue;'><td>" + (j + 1) + "</td><td>" + WorkStationScramValueStartTime + "</td><td>" + WorkStationScramValueEndTime + "</td><td>" + WorkStationScramValueWaitTime + "</td></tr>").appendTo(".scram_tbody").ready(function () {
          });
        }
      }
    }
  });

  function GetScramData(callback) {
    var start_time = new Date().format('yyyy-MM-dd').toString() + ' ' + '00:00:00';
    var end_time = new Date().format('yyyy-MM-dd hh:mm:ss');
    $.ajax({
      url: '/departments/scram_kpi_data',
      type: 'get',
      data: {
        start_time: start_time,
        end_time: end_time
      },
      success: function (data) {
        callback(data);
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  }
</script>