<div id="data_container" style="height:500px; background-color:white;"></div>
<a class="btn btn-primary" onclick="export_report_excel()">Excel</a>
<script>
$(document).ready(function(){
	Report.init("station_data");
})
</script>