<%= render "my-reports" %>
<div class="report-content">
  <%= render "current-status"%>
</div>
<% content_for :javascript_includes do%>
    <!-- alias js -->
    <%= javascript_include_tag "func-module/format_time.js"%>
    <!-- specify js -->
    <%= javascript_include_tag "reports/main.js"%>
<%end%>
