@import "../manage/manage_three_column.css.scss";

.manage_three_column > .right > section:nth-of-type(2){
  border-top-width:0;
}
.or-sign{
  color: #9d9d9d;
  display: block;
  font-size: 15px;
  left: 0;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
}
.manage-left-content.manage-left-content-kpi{
   .manage-left-menu{
     li{
       &:first-of-type{
         text-align:center !important;
         font-weight:lighter;
         font-size:15px;
         color:rgba(0, 0, 0, 0.65) !important;
         padding:29px 0 1px !important;

       }
       &:nth-of-type(2){
         text-align:center;
         color:rgba(0,0,0,0.2);
         padding:7px 24px;
         cursor:pointer;
         transition:padding 0.3s ease-out;
         position:relative;
         width:auto;
         margin:auto;
         height:auto;
         border-radius:0px;
         -moz-border-radius:0px;
         -webkit-border-radius:0px;
         background-color:rgba(0,0,0,0);
         &:hover{
           background-color:#e2e7ef;
         }
         &:hover a{
           color:rgba(0,0,0,0.5);
         }
         &.active{
           background-color:#e2e7ef
         }
       }
     }
   }
}
/********************************************************************************************************* 分类系列
*******************************************************************************************************************/
.manage-left-menu[type="category"] li:first-of-type{
  text-align:center;
  font-weight:lighter;
  font-size:15px;
  color:rgba(0, 0, 0, 0.65);
  padding:29px 0 1px;
}

/********************************************************************************************************* 右边的内容部分
*******************************************************************************************************************/
.manage-btn-group>a.kpi-library-btn{
  left:130px;
  width:120px;
}
.manage-btn-group>a.kpi-library-btn i{
  left:-3px;
}
.next-manage-department-btn{
  font-size:11px !important;
}
/***************************************************** 右边的list
*********************************************************/
.manage-sort-list li>table.category{
  table-layout:fixed
}
.manage-sort-list li>table.category tr td{
  width:12%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor:default;

}
.manage-sort-list li>table.category tr:first-of-type{
  font-size:21px;
  color:rgba(0,0,0,0.5);
}
.manage-sort-list li>table.category tr:first-of-type td{
  padding:10px 0 0px;
}
/*first column*/
.manage-sort-list li>table.category tr:first-of-type td:first-of-type{
  color:#5FA9DA;
  width:35%;
  padding-right:10px;
}
/*third column*/
.manage-sort-list li>table.category tr:first-of-type td:nth-of-type(3){
  width:10%;
}
/*forth column*/
.manage-sort-list li>table.category tr:first-of-type td:nth-of-type(4){
  width:15%;
  color:#5FA9DA;
  padding-right:15px;
}
/*fifth column*/
.manage-sort-list li>table.category tr:first-of-type td:nth-of-type(5){
  width:15%;
  color:#47BBB3;
  padding-right:15px;
}
/*last column*/
.manage-sort-list li>table.category tr:first-of-type td:last-of-type{
  width:13%;
  text-align:center;
  cursor:help;
}
.manage-sort-list li>table.category tr:nth-of-type(2) td:last-of-type{
  text-align:center;
}
.manage-sort-list li>table.category tr:nth-of-type(2){
  color:rgba(0,0,0,0.3);
  font-size:13px;
}
.manage-kpi-target>div{
  position:relative;
  overflow-x:hidden;
  overflow-y:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  height:100%;
}
.manage-kpi-target input{
  position:absolute;
  height:11px;
  left:-999em;
  width:87%;
  top:0px;
  padding:7px 5px 5px;
  border:1px solid #f89d3b;
}
/********************************************************************************************************* 添加 KPI
*******************************************************************************************************************/
.manage-kpi-add{
  position:absolute;
  height:100%;
  margin-top:-71px;
  right:999em;
  width:200px;
  overflow-x:hidden;
  background:#FAFAFA;
  border-left:1px solid #DCDCDC

}
.manage-kpi-add>i{
  pointer-events:auto;
  position:relative;
  left:170px;
  top:6px;
  cursor:pointer;
  font-size:18px;
  color:rgba(0,0,0,0.25)
}
.manage-kpi-add>div{
  position:relative;
  top:15px;
  bottom:0;
  left:0;
  right:0;
}
.manage-kpi-add>div .chosen-container-single .chosen-single{
  background:white !important;
  border:1px solid #ddd;
  box-shadow:none !important;
}
.manage-kpi-add>div .chosen-container-single .chosen-single div{
  background:white !important;
  border-left:none !important;
}
/*select*/
.manage-kpi-add>div>.select-div{
  width:150px;
  margin-left:25px;
  margin-bottom:10px;
}
.manage-kpi-add>div>.select-div select{
  width:150px;
}
/*input*/
.manage-kpi-add>div>input{
  width:140px;
  margin-left:25px;
  margin-bottom:10px;
  padding:5px 4px;
  font-size:13px;
  font-weight:lighter;
  font-family:"open-sans";
}
.manage-kpi-add>div>input:first-of-type{
  margin-bottom:76px;
}
/*textarea*/
.manage-kpi-add>div>textarea{
  width:140px;
  min-width:140px;
  max-width:140px;
  margin-top:-16px;
  margin-left:25px;
  height:17px;
  min-height:17px;
  max-height:52px;
  word-break:break-all;
  word-wrap:break-word;
  padding:6px 4px 5px;
  font-size:13px;
  font-weight:lighter;
  font-family:"open-sans";
  position:absolute;
  top:90px;
  left:0px;
}
/*checkbox and calculate*/
.manage-kpi-add>div>.icheckbox_minimal-aero{
  margin-left:25px;
}
.manage-kpi-add>div>label{
  font-size:13px;
  color:rgba(0,0,0,0.4);
  position:relative;
  left:2px;
  top:-2px;
}

/* btn */
.manage-kpi-add>div>.btn{
  margin-top:45px;
  width:133px;
  margin-left:26px;
  font-size:14px;
}
/********************************************************************************************************* kpi library
*******************************************************************************************************************/
.kpi-library{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:90;
  background-color:rgba(0,0,0,0.55);
  display:none;
}
.kpi-library>div{
  position:fixed;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  width:750px;
  height:540px;
  left:50%;
  margin-left:-375px;
  top:50%;
  margin-top:-275px;
  background-color:white;
  display:none;
}
.kpi-library>div:before{
  content:"KPI\00a0\00a0LIBRARY";
  position:absolute;
  font-size:40px;
  color:white;
  top:-38px;
}
.kpi-library-inner{
  position:absolute;
  top:30px;
  right:30px;
  bottom:30px;
  left:30px;
  border:2px solid #ddd;
}
/***************************************************************** accordion
*********************************************************************/
.Accordion>.accordion-header{
  cursor:pointer;
}
.Accordion>.accordion-body{
  display:none;
}
.Accordion>.accordion-header.in + .accordion-body{
  display:block
}
/***************************************************************** accordion style (left part)
*********************************************************************/
.kpi-library-inner>.left{
  width:55%;
  height:100%;
  float:left;
  overflow-y:auto;
}
.kpi-library-inner>.left .accordion-header{
  padding:12px 10px;
  color:#9d9d9d;
  font-size:17px;
  border-style:solid;
  border-color:#ddd;
  border-width:0px 0px 1px 0;
  transition:color 0.25s ease-out;
}
.kpi-library-inner>.left .accordion-header:hover{
  color:rgba(0,0,0,0.7);
}
.kpi-library-inner>.left .accordion-header.accordion-in{
  background:#5fa9da;
  border-color:#5fa9da;
  color:white;
}
.kpi-library-inner>.left ul{
  list-style:none;
  padding:0px;
  margin:0px;
  border-bottom:1px solid #ddd;
}
.kpi-library-inner>.left ul>li{
  position:relative;
  padding:10px 12px 2px;
}
.kpi-library-inner>.left ul>li:last-of-type{
  padding:10px 12px;
}
.kpi-library-inner>.left ul li input[type="checkbox"]{
  position:absolute;
}
.kpi-library-inner>.left ul li h3{
  position:absolute;
  top:7px;
  left:41px;
  margin:0px;
  width:319px;
  color:#5fa9da;
  font-size:15px;
  font-weight:lighter;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.kpi-library-inner>.left ul li p{
  position:absolute;
  left:42px;
  top:24px;
  margin:0px;
  width:319px;
  font-size:13px;
  font-weight:lighter;
  color:#9d9d9d;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.kpi-library-inner>.left ul li>i{
  position:absolute;
  right:6px;
  top:9px;
  color:#5fa9da;
  font-size:16px;
  pointer-events:auto;
  cursor:default;
  transition:color 0.55s ease-out;
}
.kpi-library-inner>.left ul li>i:hover{
  color:#F5A133;
}
/*****************************************************************  (right part)
*********************************************************************/
.kpi-library-inner>.right{
  width:306px;
  height:100%;
  float:left;
  border-left:2px solid #ddd;
  position:relative;
}
.kpi-library-inner>.right .library-chosen-kpi{
  width:100%;
  height:90%;
  list-style:none;
  padding:0px;
  margin:0px;
  overflow-y:auto;
}
.kpi-library-inner>.right .library-chosen-kpi>li{
  padding:3px 5px;
  cursor:pointer;
}
.kpi-library-inner>.right .library-chosen-kpi>li:hover{
  background:rgba(234,237,236,0.4);
}
.kpi-library-inner>.right .library-chosen-kpi>li h3{
  margin:0px;
  width:299px;
  color:#5fa9da;
  font-size:15px;
  font-weight:lighter;
  pointer-events:none;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.kpi-library-inner>.right .library-chosen-kpi>li p{
  margin:-3px 0 0;
  width:299px;
  font-size:13px;
  font-weight:lighter;
  color:#9d9d9d;
  pointer-events:none;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.kpi-library-inner>.right div:last-of-type{
  width:309px;
  height:45px;
  border-top:2px solid #ddd;
  position:absolute;
  bottom:0px;
}
.kpi-library-inner>.right div:last-of-type>a{
  display:inline-block;
  width:65px;
  float:right;
  font-size:13px;
  padding:6px 0px;
  margin:8px 12px 0 2px;
}
/*14.3.20*/
.manage-kpi-navi>section:first-of-type{
  position:relative;
}
.manage-kpi-navi .or-sign{
  position:relative;
  top:0px;
  left:0px;
  right:0px;
  color:#9d9d9d;
  display:block;
  text-align:center;
  font-size:15px;
}

.manage-kpi-navi>section:nth-of-type(2){
  border-top:none;
}

.subscribe-kpi-select{
  width:70%;
  padding: 15px;
  position: absolute;
}

.kpi-library[type="attribute"]{
  &>div{
    $height:450px;
    $width:550px;
    width:$width;
    height:$height;
    margin-left:- $width/2;
    margin-top:- $height/2;
    &:before{
      content:"";
    }
    &:after{
      clear:both;
      display:block;
      content:"";
    }
    &>i{
      cursor:pointer;
      pointer-events:auto;
      float:right;
      margin-top:10px;
      margin-right:10px;
      font-size:18px;
      color:#000;
      @include transition(color);
      &:hover{
        color: rgba(0,0,0,0.6);
      }
    }
    .attribute-block{
      position:absolute;
      left:50%;
      top:50px;
      margin-left:-40%;
      width:80%;
      height:340px;
      overflow-y:auto;
      &>ul{
        li{
          padding:5px 4px;
          input{
            width:210px;
            margin-left:100px;
            padding:3px;
          }
          i{
            color:$red;
            float:right;
            margin-right:70px;
            margin-top:3px;
            pointer-events:auto;
            cursor:pointer;
            @include transition(color);
            &:hover{
              color:transparentize($red,0.3);
            }
          }
        }
      }
      &>a{
        font-size:11px;
        width:60px;
        padding:4px 5px;
        margin-left:255px;
        margin-top:3px;
      }
    }

    .btn-group{
      position:absolute;
      bottom:0px;
      left:0px;
      right:0px;
      height:40px;
      border-top:1px solid #ddd;

      .btn{
        float:right;
        margin-right:25px;
        margin-top:5px;
        &:last-of-type{
          margin-right:0px;
        }
      }
    }
  }
}
/*****************************************************************  manage attribute
*********************************************************************/
.kpi-library[type="attribute"][for="kpi"]{
  right:auto;
  left:-999em;
  display: block !important;
  &>div{
    left:-999em;
    right:auto;
    display:block !important;
    $height:450px;
    $width:550px;
    $margin-left:18px;
    $margin-bottom:10px;
    $border:1px solid #C8C8C8;
    $box-shadow:0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    width:$width;
    height:$height;
    margin-left:- $width/2;
    margin-top:- $height/2;
    .select-div{
      width:300px;
      display:block;
      margin-left:$margin-left;
      margin-bottom:$margin-bottom;
      &:first-of-type{
        margin-top:40px;
      }
    }
    textarea{
      $width:230px;
      $height:43px;
      min-width:$width;
      width:$width;
      max-width:$width;
      min-height:$height;
      height:$height;
      max-height:$height;
      margin-left:$margin-left;
      margin-bottom:$margin-bottom;
      border:$border;
      box-shadow:$box-shadow;
    }
    &>input{
      border:1px solid #9d9d9d;
      display:block;
      margin-left:$margin-left;
      margin-bottom:$margin-bottom;
      padding:6px 5px;
      border:$border;
      box-shadow:$box-shadow;
    }

    .auto-form-label{
      $font-size:13px;
      position:absolute;
      right:15px;
      top:40px;
      width:240px;
      border:$border;
      height:68px;
      overflow-y:auto;
      @include border-radius-same(4px);
      box-shadow:$box-shadow;
      ul{
        display:block;
        li{
          display:inline-block;
          margin-right:6px;
          //margin-bottom:2px;
          height:15px;
          span{
            font-size:$font-size;
            color:$blue;
          }
          i{
            margin-left:2px;
            pointer-events:auto;
            cursor:pointer;
            color:#222;
            font-size:$font-size - 2;
            &:hover{
              color:$red;
            }
          }
          input{
            font-size:$font-size;
            border:none;
            box-shadow:none;
            -moz-box-shadow:none;
            -webkit-box-shadow:none;
            width:100px;
            margin:0px;
            padding:2px 3px;


          }
        }

      }
    }
    .instrument-form-label{
      position:absolute;
      right:15px;
      top:112px;
      font-size:11px;
      color:#9d9d9d;
    }
    .is-calculate-block{
      position:absolute;
      right:15px;
      top:120px;
      width:240px;
      &>label{
        font-size:13px;
        position:relative;
        top:-3px;
      }

      .calculate-type-box{
        //border:1px solid #ddd;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        width:230px;
        margin-left:0;
        height:124px;
        display:none;

        .select-div{
          $width:220px;
          width:$width;
          margin-left:0px;
          margin-top:5px;
          margin-bottom:2px;
          select{
            width:$width;
          }
        }

        label{
          color:rgba(255,255,255,1);
          background-color:$blue;
          $width:20px;
          text-align:center;
          width:$width;
          height:$width;
          display:inline-block;
          cursor:pointer;
          margin-right:3px;
          transition:color 0.25s ease-out;
          font-size:18px;
          position:relative;
          @include border-radius-same(3px);
          top:4px;
          &:hover{
            background:$blue-hover;
          }
          &:nth-of-type(1){
            margin-left:0px;
            top:7px;
          }
          &:nth-of-type(2){
            top:7px;
          }
          &:nth-of-type(3){
            top:4px;
            font-size:15px;
          }
          &:nth-of-type(4){
            top:7px;
          }
          &:nth-of-type(5){
            font-size:15px;
          }
          &:nth-of-type(6){
            font-size:15px;
          }
        }

        textarea{
          $width:210px;
          $height:100px;
          min-width:$width;
          width:$width;
          max-width:$width;

          height:$height;
          min-height:$height;
          max-height:$height+110;

          margin-left:0px;
          margin-top:21px;
          padding:5px 4px;
          font-size:13px;
          font-weight:lighter;
          font-family:"open-sans";
          background-color:white;
        }

      }
    }
  }
}



.attribute-position{
  position:absolute;
  height:24px;
  bottom:0px;
  left:0px;
  p{
    width:70%;
    overflow-x:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
    float:left;
    font-size:11px;
    color:$green;
    line-height:20px;
    span{
      margin-right:5px;
    }
  }
  .btn{
    float:left;
    display:inline-block;
    padding:3px 8px;
    font-size:10px;
    margin-left:70px;
  }
  &[type="myKPI"]{
    right:0px;
    bottom:-6px;
    left:23px;
    p{
      width:90%;
    }
  }
}

.attribute-block[type="edit"]
{
  height:230px !important;
  border:1px solid #ddd;
  padding:8px;
  ul{

    li{
      padding:0px 4px !important;
      border-bottom:1px solid #ddd;
      label{
        display:inline-block;
        width:380px;
        font-size:12px;
        line-height:19px;
        margin-top:5px;
        @include text-overflow;
      }
      i{
        margin-top:5px !important;
        margin-right:20px !important;
      }
    }
  }
}
.add-attribute{
  position:absolute;
  top:305px;
  width:290px;
  left:156px;
  input{
    padding:4px 5px;
    float:left;
    font-size:13px;
  }
  .btn{
    padding:7px;
    height:15px;
    float:left;
    font-size:12px;
    margin:0px;
    @include border-radius-same(0px);
  }
}