<!DOCTYPE html>
<html>
     <head>
          <title>ClearInsight</title>
          <%= requirejs_include_tag "application" %>
          <%= csrf_meta_tags %>
     </head>
     <body>
          <%= yield %>
     </body>
     <%= yield :javascript_includes%>
     <script type="text/javascript"></script>
</html>